Repository niart120/5genSearch-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cargo fmt --

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,html}": "prettier --write",
  "*.rs": "cargo fmt --"
}

fix: ID調整で start_mode を NewGame に強制
  src/features/tid-adjust/components/tid-adjust-page.tsx
Due: prettier --write

refactor: ID調整の GameStartConfig を Feature-local state に変更
  spec/agent/complete/local_080/TID_ADJUST.md
  spec/agent/notes/dev-journal.md
  src/features/tid-adjust/components/tid-adjust-page.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
Due: prettier --write

refactor: ID調整のセーブ状態UIを改善
  spec/agent/complete/local_080/TID_ADJUST.md
  src/features/tid-adjust/components/tid-adjust-page.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
Due: prettier --write

refactor: save/memory_link を統合タブ (SaveMode) に変更
  spec/agent/complete/local_080/TID_ADJUST.md
  spec/agent/notes/dev-journal.md
  src/features/tid-adjust/components/tid-adjust-page.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/ja/messages.po
Due: prettier --write

Remove MtseedDatetime throughput investigation notes
  spec/agent/notes/dev-journal.md
Due: none

feat: ID調整 (TID Adjust) 機能を実装 (#91)
  spec/agent/complete/local_080/TID_ADJUST.md
  spec/agent/notes/dev-journal.md
  src/components/layout/feature-content.tsx
  src/features/tid-adjust/components/tid-adjust-form.tsx
  src/features/tid-adjust/components/tid-adjust-page.tsx
  src/features/tid-adjust/components/trainer-info-columns.tsx
  src/features/tid-adjust/hooks/use-tid-adjust.ts
  src/features/tid-adjust/index.ts
  src/features/tid-adjust/types.ts
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/services/batch-utils.ts
  src/test/integration/tid-adjust-search.test.ts
  src/test/unit/batch-utils.test.ts
  src/test/unit/tid-adjust-types.test.ts
Due: prettier --write

spec: refine needle input compact layout and i18n note
  spec/agent/wip/local_081/NEEDLE_SEARCH.md
Due: none

feat: implement Needle Search (local_081)
  spec/agent/wip/local_081/NEEDLE_SEARCH.md
  src/components/forms/datetime-input.tsx
  src/components/forms/index.ts
  src/components/layout/feature-content.tsx
  src/features/needle/components/needle-input.tsx
  src/features/needle/components/needle-page.tsx
  src/features/needle/components/needle-result-columns.tsx
  src/features/needle/components/seed-input.tsx
  src/features/needle/hooks/use-needle-search.ts
  src/features/needle/index.ts
  src/features/needle/types.ts
  src/i18n/locales/en/messages.po
  src/i18n/locales/ja/messages.po
  src/test/integration/needle-search.test.ts
  src/test/unit/needle-types.test.ts
Due: prettier --write

chore: move local_081 spec to complete
  spec/agent/complete/local_081/NEEDLE_SEARCH.md
Due: none

fix: SeedInput accepts multiple SeedOrigins, DatetimeInput all-spinner with wheel/key support
  spec/agent/wip/local_081/NEEDLE_SEARCH.md
  src/components/forms/datetime-input.tsx
  src/features/needle/components/needle-page.tsx
  src/features/needle/components/seed-input.tsx
  src/features/needle/hooks/use-needle-search.ts
  src/features/needle/types.ts
  src/test/unit/needle-types.test.ts
Due: prettier --write

refactor: extract SpinnerNumField/DatetimeInput to ui/, fix needle search unreachable
  src/components/forms/datetime-input.tsx
  src/components/forms/index.ts
  src/components/forms/seed-input-section.tsx
  src/components/ui/datetime-input.tsx
  src/components/ui/spinner-num-field.tsx
  src/features/needle/components/needle-page.tsx
  src/features/needle/components/seed-input.tsx
  src/test/integration/needle-search.test.ts
  wasm-pkg/src/types/needle.rs
Due: prettier --write, cargo fmt --

Remove NEEDLE_SEARCH.md spec
  spec/agent/wip/local_081/NEEDLE_SEARCH.md
Due: none

refactor(needle): セルフレビュー指摘事項の改修・テスト追加・仕様書更新
  spec/agent/complete/local_081/NEEDLE_SEARCH.md
  src/features/needle/components/needle-page.tsx
  src/features/needle/components/seed-input.tsx
  src/features/needle/hooks/use-needle-search.ts
  src/features/needle/types.ts
  src/test/components/features/needle-input.test.tsx
  src/test/unit/needle-types.test.ts
Due: prettier --write

refactor(needle): seedOrigins を useMemo 導出に変更
  spec/agent/complete/local_081/NEEDLE_SEARCH.md
  src/features/needle/components/needle-page.tsx
  src/features/needle/components/seed-input.tsx
Due: prettier --write

feat: Needle Search 機能の実装 (#92)
  spec/agent/complete/local_081/NEEDLE_SEARCH.md
  src/components/forms/datetime-input.tsx
  src/components/forms/index.ts
  src/components/forms/seed-input-section.tsx
  src/components/layout/feature-content.tsx
  src/components/ui/datetime-input.tsx
  src/components/ui/spinner-num-field.tsx
  src/features/needle/components/needle-input.tsx
  src/features/needle/components/needle-page.tsx
  src/features/needle/components/needle-result-columns.tsx
  src/features/needle/components/seed-input.tsx
  src/features/needle/hooks/use-needle-search.ts
  src/features/needle/index.ts
  src/features/needle/types.ts
  src/i18n/locales/en/messages.po
  src/i18n/locales/ja/messages.po
  src/test/components/features/needle-input.test.tsx
  src/test/integration/needle-search.test.ts
  src/test/unit/needle-types.test.ts
  wasm-pkg/src/types/needle.rs
Due: prettier --write, cargo fmt --

Add search result estimation spec
  spec/agent/wip/local_082/SEARCH_RESULT_ESTIMATION.md
Due: none

feat: 検索結果件数の事前見積もり・警告ダイアログを追加
  package.json
  pnpm-lock.yaml
  src/components/forms/key-spec-selector.tsx
  src/components/forms/search-confirmation-dialog.tsx
  src/components/ui/alert-dialog.tsx
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/egg-list/components/egg-list-page.tsx
  src/features/egg-search/components/egg-search-page.tsx
  src/features/mtseed-search/components/mtseed-search-page.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/features/tid-adjust/components/tid-adjust-page.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/services/search-estimation.ts
  src/test/components/forms/search-confirmation-dialog.test.tsx
  src/test/unit/services/search-estimation.test.ts
  src/wasm/wasm_pkg.d.ts
  src/wasm/wasm_pkg_bg.wasm.d.ts
  wasm-pkg/src/lib.rs
Due: prettier --write, cargo fmt --

docs: local_082 仕様書のチェックリスト完了・complete へ移動
  spec/agent/complete/local_082/SEARCH_RESULT_ESTIMATION.md
Due: none

test: search-estimation テストの引数型エラーを修正
  src/test/unit/services/search-estimation.test.ts
Due: prettier --write

refactor: search-estimation の filter 引数設計を整理
  spec/agent/complete/local_082/SEARCH_RESULT_ESTIMATION.md
  src/services/search-estimation.ts
  src/test/unit/services/search-estimation.test.ts
Due: prettier --write

refactor: estimateEggFilterHitRate の引数順を調整して filter を optional に
  spec/agent/complete/local_082/SEARCH_RESULT_ESTIMATION.md
  src/services/search-estimation.ts
  src/test/unit/services/search-estimation.test.ts
Due: prettier --write

refactor: セルフレビュー指摘事項の対処 (P1,P2,P4,P5,P6)
  src/components/forms/search-confirmation-dialog.tsx
  src/features/egg-list/components/egg-list-page.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/features/tid-adjust/components/tid-adjust-page.tsx
  src/services/search-estimation.ts
Due: prettier --write

Remove notes on search result estimation
  spec/agent/notes/dev-journal.md
Due: none

style: fix formatting
  src/features/pokemon-list/components/pokemon-list-page.tsx
Due: prettier --write

feat: 検索結果件数の事前見積もり・警告ダイアログを追加 (#93)
  package.json
  pnpm-lock.yaml
  spec/agent/complete/local_082/SEARCH_RESULT_ESTIMATION.md
  spec/agent/notes/dev-journal.md
  src/components/forms/key-spec-selector.tsx
  src/components/forms/search-confirmation-dialog.tsx
  src/components/ui/alert-dialog.tsx
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/egg-list/components/egg-list-page.tsx
  src/features/egg-search/components/egg-search-page.tsx
  src/features/mtseed-search/components/mtseed-search-page.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/features/tid-adjust/components/tid-adjust-page.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/services/search-estimation.ts
  src/test/components/forms/search-confirmation-dialog.test.tsx
  src/test/unit/services/search-estimation.test.ts
  src/wasm/wasm_pkg.d.ts
  src/wasm/wasm_pkg_bg.wasm.d.ts
  wasm-pkg/src/lib.rs
Due: prettier --write, cargo fmt --

spec: add seed template feature specification (local_083)
  spec/agent/wip/local_083/DATETIME_SEARCH_TEMPLATES.md
Due: none

spec: Seed テンプレート仕様書改訂 (local_083)
  spec/agent/wip/local_083/DATETIME_SEARCH_TEMPLATES.md
Due: none

feat: Seed テンプレート機能を実装 (local_083)
  src/data/seed-templates.ts
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/datetime-search/components/template-selection-dialog.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/test/components/template-selection-dialog.test.tsx
  src/test/unit/seed-templates.test.ts
Due: prettier --write

chore: local_083 仕様書を complete に移動
  spec/agent/complete/local_083/DATETIME_SEARCH_TEMPLATES.md
Due: none

refactor: move template button above textarea, fix has-[:checked] for Radix Checkbox
  src/data/seed-templates.ts
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/datetime-search/components/template-selection-dialog.tsx
Due: prettier --write

ui: add Init seeds section heading for template button and seed input
  src/features/datetime-search/components/datetime-search-page.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
Due: prettier --write

refactor: use existing Initial Seed msgid instead of Init seeds
  src/features/datetime-search/components/datetime-search-page.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
Due: prettier --write

feat: Seed テンプレート機能を実装 (#94)
  spec/agent/complete/local_083/DATETIME_SEARCH_TEMPLATES.md
  src/data/seed-templates.ts
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/datetime-search/components/template-selection-dialog.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/test/components/template-selection-dialog.test.tsx
  src/test/unit/seed-templates.test.ts
Due: prettier --write

feat: Seed IV tooltip (local_084)
  package.json
  pnpm-lock.yaml
  spec/agent/wip/local_084/SEED_IV_TOOLTIP.md
  src/app.tsx
  src/components/data-display/seed-iv-tooltip.tsx
  src/components/ui/tooltip.tsx
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/datetime-search/components/seed-origin-columns.tsx
  src/features/egg-list/components/result-detail-dialog.tsx
  src/features/mtseed-search/components/mtseed-result-columns.tsx
  src/features/mtseed-search/components/mtseed-search-page.tsx
  src/features/pokemon-list/components/result-detail-dialog.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/lib/iv-tooltip.ts
  src/test/components/seed-iv-tooltip.test.tsx
  src/test/integration/iv-tooltip-wasm.test.ts
  src/test/unit/iv-tooltip.test.ts
  src/wasm/wasm_pkg.d.ts
  src/wasm/wasm_pkg_bg.wasm.d.ts
  wasm-pkg/src/generation/algorithm/mod.rs
  wasm-pkg/src/lib.rs
Due: prettier --write, cargo fmt --

chore: mark local_084 (SEED_IV_TOOLTIP) as complete
  spec/agent/complete/local_084/SEED_IV_TOOLTIP.md
Due: none

feat: add SeedIvTooltip to datetime-search result detail dialog
  spec/agent/complete/local_084/SEED_IV_TOOLTIP.md
  src/features/datetime-search/components/result-detail-dialog.tsx
Due: prettier --write

fix: use bg-card for tooltip instead of undefined bg-popover
  src/components/ui/tooltip.tsx
Due: prettier --write

feat: add SeedIvTooltip to Base Seed rows in all detail dialogs
  src/features/datetime-search/components/result-detail-dialog.tsx
  src/features/egg-list/components/result-detail-dialog.tsx
  src/features/pokemon-list/components/result-detail-dialog.tsx
Due: prettier --write

refactor: remove SeedIvTooltip from pokemon-list/egg-list dialogs
  src/features/egg-list/components/result-detail-dialog.tsx
  src/features/pokemon-list/components/result-detail-dialog.tsx
Due: prettier --write

refactor(seed-iv-tooltip): セルフレビュー指摘の修正
  spec/agent/complete/local_084/SEED_IV_TOOLTIP.md
  src/features/datetime-search/components/result-detail-dialog.tsx
  src/lib/iv-tooltip.ts
  src/test/integration/iv-tooltip-wasm.test.ts
Due: prettier --write
