Repository niart120/5genSearch-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cargo fmt --

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,html}": "prettier --write",
  "*.rs": "cargo fmt --"
}

docs(spec): 日時探索空間の共通化設計を定義 (#172)
  spec/agent/wip/local_121/DATETIME_SEARCH_SPACE.md
Due: none

refactor(search): 日時探索空間を共通化
  scripts/bench-datetime-space.cjs
  spec/agent/architecture/rust-structure.md
  spec/agent/architecture/worker-design.md
  spec/agent/complete/local_121/DATETIME_SEARCH_SPACE.md
  src/test/integration/datetime-search-space.test.ts
  src/test/integration/helpers/worker-test-utils.ts
  src/test/integration/pokemon-datetime-performance.test.ts
  src/test/integration/pokemon-datetime-search.test.ts
  src/test/integration/services/worker-pool-gpu.test.ts
  src/test/integration/services/worker-pool.test.ts
  src/test/integration/wasm-binding.test.ts
  src/test/integration/workers/gpu.worker.test.ts
  src/test/integration/workers/searcher.test.ts
  src/test/unit/workers/types.test.ts
  src/wasm/wasm_pkg.d.ts
  src/wasm/wasm_pkg_bg.wasm.d.ts
  src/workers/gpu.worker.ts
  src/workers/search.worker.ts
  wasm-pkg/benches/datetime_search.rs
  wasm-pkg/benches/gpu_datetime_search.rs
  wasm-pkg/examples/datetime_space_bench.json
  wasm-pkg/examples/datetime_space_bench.rs
  wasm-pkg/src/core/datetime.rs
  wasm-pkg/src/core/datetime_codes.rs
  wasm-pkg/src/core/mod.rs
  wasm-pkg/src/datetime_search/base.rs
  wasm-pkg/src/datetime_search/egg.rs
  wasm-pkg/src/datetime_search/mod.rs
  wasm-pkg/src/datetime_search/mtseed.rs
  wasm-pkg/src/datetime_search/pokemon.rs
  wasm-pkg/src/datetime_search/trainer_info.rs
  wasm-pkg/src/gpu/datetime_search/iterator.rs
  wasm-pkg/src/gpu/datetime_search/pipeline.rs
  wasm-pkg/src/gpu/datetime_search/shader.wgsl
  wasm-pkg/src/lib.rs
  wasm-pkg/src/types/mod.rs
  wasm-pkg/src/types/search.rs
  wasm-pkg/tests/frame_3ds_bw2.rs
  wasm-pkg/tests/wasm_bench.rs
Due: prettier --write, cargo fmt --

refactor(search): 日時探索空間を共通化 (#173)
  scripts/bench-datetime-space.cjs
  spec/agent/architecture/rust-structure.md
  spec/agent/architecture/worker-design.md
  spec/agent/complete/local_121/DATETIME_SEARCH_SPACE.md
  src/test/integration/datetime-search-space.test.ts
  src/test/integration/helpers/worker-test-utils.ts
  src/test/integration/pokemon-datetime-performance.test.ts
  src/test/integration/pokemon-datetime-search.test.ts
  src/test/integration/services/worker-pool-gpu.test.ts
  src/test/integration/services/worker-pool.test.ts
  src/test/integration/wasm-binding.test.ts
  src/test/integration/workers/gpu.worker.test.ts
  src/test/integration/workers/searcher.test.ts
  src/test/unit/workers/types.test.ts
  src/wasm/wasm_pkg.d.ts
  src/wasm/wasm_pkg_bg.wasm.d.ts
  src/workers/gpu.worker.ts
  src/workers/search.worker.ts
  wasm-pkg/benches/datetime_search.rs
  wasm-pkg/benches/gpu_datetime_search.rs
  wasm-pkg/examples/datetime_space_bench.json
  wasm-pkg/examples/datetime_space_bench.rs
  wasm-pkg/src/core/datetime.rs
  wasm-pkg/src/core/datetime_codes.rs
  wasm-pkg/src/core/mod.rs
  wasm-pkg/src/datetime_search/base.rs
  wasm-pkg/src/datetime_search/egg.rs
  wasm-pkg/src/datetime_search/mod.rs
  wasm-pkg/src/datetime_search/mtseed.rs
  wasm-pkg/src/datetime_search/pokemon.rs
  wasm-pkg/src/datetime_search/trainer_info.rs
  wasm-pkg/src/gpu/datetime_search/iterator.rs
  wasm-pkg/src/gpu/datetime_search/pipeline.rs
  wasm-pkg/src/gpu/datetime_search/shader.wgsl
  wasm-pkg/src/lib.rs
  wasm-pkg/src/types/mod.rs
  wasm-pkg/src/types/search.rs
  wasm-pkg/tests/frame_3ds_bw2.rs
  wasm-pkg/tests/wasm_bench.rs
Due: prettier --write, cargo fmt --

fix(pokemon-search): 消費範囲の不要な説明文を削除
  src/features/pokemon-search/components/pokemon-search-page.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
Due: prettier --write

fix(pokemon-search): フィルターの説明文とリセット表示を整理
  spec/agent/complete/local_118/POKEMON_SEARCH.md
  spec/agent/complete/local_119/POKEMON_SEARCH_ENGINE.md
  src/features/pokemon-search/components/pokemon-search-filter-form.tsx
  src/features/pokemon-search/components/pokemon-search-page.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/test/components/features/pokemon-search-page.test.tsx
Due: prettier --write

fix(pokemon-search): 検索名称と起動条件の表示を統一
  spec/agent/complete/local_118/POKEMON_SEARCH.md
  spec/agent/complete/local_119/POKEMON_SEARCH_ENGINE.md
  spec/agent/notes/dev-journal.md
  src/features/pokemon-list/components/result-detail-dialog.tsx
  src/features/pokemon-search/components/pokemon-search-columns.tsx
  src/features/pokemon-search/components/pokemon-search-filter-form.tsx
  src/features/pokemon-search/components/search-mode-tabs.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/services/export-columns.ts
  src/test/components/features/pokemon-search-page.test.tsx
  src/test/components/features/pokemon-search-results.test.tsx
  src/test/components/features/search-mode-tabs.test.tsx
  src/test/unit/features/pokemon-search-columns.test.ts
Due: prettier --write

fix(pokemon-search): 検索UIの文言と起動条件の表示を統一 (#174)
  spec/agent/complete/local_118/POKEMON_SEARCH.md
  spec/agent/complete/local_119/POKEMON_SEARCH_ENGINE.md
  spec/agent/notes/dev-journal.md
  src/features/pokemon-list/components/result-detail-dialog.tsx
  src/features/pokemon-search/components/pokemon-search-columns.tsx
  src/features/pokemon-search/components/pokemon-search-filter-form.tsx
  src/features/pokemon-search/components/pokemon-search-page.tsx
  src/features/pokemon-search/components/search-mode-tabs.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/services/export-columns.ts
  src/test/components/features/pokemon-search-page.test.tsx
  src/test/components/features/pokemon-search-results.test.tsx
  src/test/components/features/search-mode-tabs.test.tsx
  src/test/unit/features/pokemon-search-columns.test.ts
Due: prettier --write

docs(filters): 対象別フィルターと範囲条件の仕様を追加
  spec/agent/notes/dev-journal.md
  spec/agent/wip/local_122/CONTEXTUAL_SEARCH_FILTERS.md
Due: none

feat(filters): 対象と表示モードに応じた条件の正規化を追加
  src/lib/search-filter-context.ts
  src/test/unit/search-filter-context.test.ts
Due: prettier --write

fix(encounters): 対象と一致するスロットの取得完了を確認する
  src/features/pokemon-list/components/pokemon-params-form.tsx
  src/features/pokemon-list/types.ts
  src/lib/encounter-slot-context.ts
  src/test/components/features/pokemon-params-form.test.tsx
Due: prettier --write

feat(filters): 対象別表示と範囲条件の保持を各画面へ適用
  src/components/forms/ability-slot-select.tsx
  src/components/forms/egg-filter-form.tsx
  src/components/forms/hidden-power-select.tsx
  src/components/forms/iv-filter-fields.tsx
  src/components/forms/iv-range-input.tsx
  src/components/forms/level-range-input.tsx
  src/features/egg-list/components/egg-list-page.tsx
  src/features/egg-list/store.ts
  src/features/egg-search/components/egg-search-page.tsx
  src/features/egg-search/store.ts
  src/features/egg-search/types.ts
  src/features/mtseed-search/components/mtseed-search-form.tsx
  src/features/mtseed-search/components/mtseed-search-page.tsx
  src/features/mtseed-search/store.ts
  src/features/pokemon-list/components/pokemon-filter-form.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/features/pokemon-list/store.ts
  src/features/pokemon-search/components/pokemon-search-filter-form.tsx
  src/features/pokemon-search/components/pokemon-search-page.tsx
  src/features/pokemon-search/store.ts
  src/features/pokemon-search/types.ts
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/test/components/features/contextual-filter-inputs.test.tsx
  src/test/components/features/egg-filter-form.test.tsx
  src/test/components/features/pokemon-filter-form.test.tsx
  src/test/components/features/pokemon-search-page.test.tsx
  src/test/components/forms/iv-range-input.test.tsx
  src/test/integration/egg-datetime-search.test.ts
  src/test/integration/egg-list-worker.test.ts
  src/test/integration/pokemon-datetime-search.test.ts
  src/test/integration/pokemon-list-worker.test.ts
  src/test/unit/features/mtseed-search-store.test.ts
  src/test/unit/features/pokemon-search.test.ts
  src/test/unit/filter-persistence.test.ts
Due: prettier --write

docs(filters): 検証結果を記録して仕様を完了扱いにする
  spec/agent/complete/local_122/CONTEXTUAL_SEARCH_FILTERS.md
  spec/agent/notes/dev-journal.md
Due: none

feat(ui): 検索画面の文言と選択項目の表示を整理
  src/components/forms/held-item-slot-select.tsx
  src/components/forms/hidden-power-select.tsx
  src/components/forms/nature-select.tsx
  src/components/forms/species-select.tsx
  src/components/forms/target-seeds-input.tsx
  src/components/layout/navigation-labels.tsx
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/pokemon-search/components/pokemon-search-page.tsx
  src/features/pokemon-search/components/search-mode-tabs.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/test/components/features/datetime-search-page.test.tsx
  src/test/components/features/pokemon-search-page.test.tsx
  src/test/components/features/search-mode-tabs.test.tsx
  src/test/components/forms/hidden-power-select.test.tsx
  src/test/components/forms/nature-select.test.tsx
  src/test/components/forms/target-seeds-input.test.tsx
  src/test/components/layout/feature-tabs.test.tsx
Due: prettier --write

feat(ui): 孵化関連の説明文を簡潔にする
  src/components/data-display/egg-margin-tooltip.tsx
  src/components/data-display/rng-tooltips.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/test/components/data-display/rng-tooltips.test.tsx
Due: prettier --write

feat(ui): 検索対象SeedのラベルをMT Seedに統一
  src/features/datetime-search/components/datetime-search-page.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/ja/messages.po
  src/test/components/features/datetime-search-page.test.tsx
  src/test/components/features/pokemon-search-page.test.tsx
Due: prettier --write

feat(ui): 針入力の説明から冗長な表現を削除
  src/components/data-display/rng-tooltips.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/test/components/data-display/rng-tooltips.test.tsx
Due: prettier --write

docs(wondercard): 配達員の生成仕様とTS連携仕様を追加
  spec/agent/wip/local_123/WONDER_CARD_GENERATION.md
  spec/agent/wip/local_124/WONDER_CARD_INTEGRATION.md
Due: none

docs(wondercard): 配達員の生成仕様とTS連携仕様を追加 (#177)
  spec/agent/wip/local_123/WONDER_CARD_GENERATION.md
  spec/agent/wip/local_124/WONDER_CARD_INTEGRATION.md
Due: none

feat(wondercard): 配達員の一個体生成と構築時検証を実装
  wasm-pkg/src/generation/flows/mod.rs
  wasm-pkg/src/generation/flows/wondercard.rs
Due: cargo fmt --

test(wondercard): 配達員のPID補正の境界と生成条件の再利用を検証
  wasm-pkg/src/generation/flows/wondercard.rs
Due: cargo fmt --

docs(wondercard): local_123の検証結果を記録して完了に移動
  spec/agent/architecture/rust-structure.md
  spec/agent/complete/local_123/WONDER_CARD_GENERATION.md
  spec/agent/wip/local_124/WONDER_CARD_INTEGRATION.md
Due: none

refactor(wondercard): 既存の抽出処理を再利用してテストを分離
  spec/agent/architecture/rust-structure.md
  spec/agent/complete/local_123/WONDER_CARD_GENERATION.md
  wasm-pkg/src/generation/algorithm/iv.rs
  wasm-pkg/src/generation/algorithm/mod.rs
  wasm-pkg/src/generation/algorithm/nature.rs
  wasm-pkg/src/generation/flows/wondercard.rs
  wasm-pkg/src/generation/flows/wondercard/tests.rs
Due: cargo fmt --

refactor(wondercard): 単体テストを生成フロー内に戻す
  spec/agent/architecture/rust-structure.md
  spec/agent/complete/local_123/WONDER_CARD_GENERATION.md
  wasm-pkg/src/generation/flows/wondercard.rs
  wasm-pkg/src/generation/flows/wondercard/tests.rs
Due: cargo fmt --

feat(wondercard): 配達員の一個体生成を実装 (#178)
  spec/agent/architecture/rust-structure.md
  spec/agent/complete/local_123/WONDER_CARD_GENERATION.md
  spec/agent/wip/local_124/WONDER_CARD_INTEGRATION.md
  wasm-pkg/src/generation/algorithm/iv.rs
  wasm-pkg/src/generation/algorithm/mod.rs
  wasm-pkg/src/generation/algorithm/nature.rs
  wasm-pkg/src/generation/flows/mod.rs
  wasm-pkg/src/generation/flows/wondercard.rs
Due: cargo fmt --

feat(wondercard): 配達員の一覧と日時検索を共通バッチへ接続
  wasm-pkg/src/datetime_search/mod.rs
  wasm-pkg/src/datetime_search/wondercard.rs
  wasm-pkg/src/generation/flows/generator/mod.rs
  wasm-pkg/src/generation/flows/generator/wondercard.rs
  wasm-pkg/src/generation/flows/types.rs
  wasm-pkg/src/generation/flows/wondercard.rs
  wasm-pkg/src/lib.rs
  wasm-pkg/src/resolve/mod.rs
  wasm-pkg/src/resolve/wondercard.rs
  wasm-pkg/src/types/generation.rs
  wasm-pkg/src/types/mod.rs
  wasm-pkg/src/types/search.rs
  wasm-pkg/src/types/ui.rs
  wasm-pkg/tests/wondercard_integration.rs
Due: cargo fmt --

feat(wondercard): カード定義とCPU Workerの実行経路を追加
  src/data/wondercards/README.md
  src/data/wondercards/converter.ts
  src/data/wondercards/data/v1/pokefinder.json
  src/data/wondercards/loader.ts
  src/data/wondercards/schema.ts
  src/lib/result-view.ts
  src/services/batch-utils.ts
  src/services/search-tasks.ts
  src/services/worker-pool.ts
  src/test/integration/wondercard-worker.test.ts
  src/test/unit/batch-utils.test.ts
  src/test/unit/wondercard-data.test.ts
  src/wasm/wasm_pkg.d.ts
  src/wasm/wasm_pkg_bg.wasm.d.ts
  src/workers/search.worker.ts
  src/workers/types.ts
Due: prettier --write

refactor(wondercard): エラーの文字列化をWASM境界に集約
  wasm-pkg/src/datetime_search/wondercard.rs
  wasm-pkg/src/lib.rs
Due: cargo fmt --

docs(wondercard): local_124の検証結果を記録して完了へ移動
  spec/agent/architecture/frontend-structure.md
  spec/agent/architecture/rust-structure.md
  spec/agent/complete/local_123/WONDER_CARD_GENERATION.md
  spec/agent/complete/local_124/WONDER_CARD_INTEGRATION.md
Due: none

docs(wondercard): カード収集とJSON生成の仕様を定義
  spec/agent/complete/local_124/WONDER_CARD_INTEGRATION.md
  spec/agent/wip/local_125/WONDER_CARD_COLLECTION.md
Due: none

docs(wondercard): カード表示を種族名とタイトルに統一
  spec/agent/wip/local_125/WONDER_CARD_COLLECTION.md
Due: none

feat(wondercard): 配達員のカード定義とCPU一覧・日時検索を接続 (#180)
  spec/agent/architecture/frontend-structure.md
  spec/agent/architecture/rust-structure.md
  spec/agent/complete/local_123/WONDER_CARD_GENERATION.md
  spec/agent/complete/local_124/WONDER_CARD_INTEGRATION.md
  spec/agent/wip/local_125/WONDER_CARD_COLLECTION.md
  src/data/wondercards/README.md
  src/data/wondercards/converter.ts
  src/data/wondercards/data/v1/pokefinder.json
  src/data/wondercards/loader.ts
  src/data/wondercards/schema.ts
  src/lib/result-view.ts
  src/services/batch-utils.ts
  src/services/search-tasks.ts
  src/services/worker-pool.ts
  src/test/integration/wondercard-worker.test.ts
  src/test/unit/batch-utils.test.ts
  src/test/unit/wondercard-data.test.ts
  src/wasm/wasm_pkg.d.ts
  src/wasm/wasm_pkg_bg.wasm.d.ts
  src/workers/search.worker.ts
  src/workers/types.ts
  wasm-pkg/src/datetime_search/mod.rs
  wasm-pkg/src/datetime_search/wondercard.rs
  wasm-pkg/src/generation/flows/generator/mod.rs
  wasm-pkg/src/generation/flows/generator/wondercard.rs
  wasm-pkg/src/generation/flows/types.rs
  wasm-pkg/src/generation/flows/wondercard.rs
  wasm-pkg/src/lib.rs
  wasm-pkg/src/resolve/mod.rs
  wasm-pkg/src/resolve/wondercard.rs
  wasm-pkg/src/types/generation.rs
  wasm-pkg/src/types/mod.rs
  wasm-pkg/src/types/search.rs
  wasm-pkg/src/types/ui.rs
  wasm-pkg/tests/wondercard_integration.rs
Due: prettier --write, cargo fmt --

feat(wondercards): 言語別カタログと候補表示を接続
  .github/workflows/ci.yml
  spec/agent/architecture/frontend-structure.md
  src/data/wondercards/README.md
  src/data/wondercards/data/v1/pokefinder.json
  src/data/wondercards/display.ts
  src/data/wondercards/loader.ts
  src/data/wondercards/schema.ts
  src/test/fixtures/wondercards/README.md
  src/test/fixtures/wondercards/pokefinder-results.json
  src/test/fixtures/wondercards/pokefinder.ts
  src/test/integration/wondercard-worker.test.ts
  src/test/unit/wondercard-data.test.ts
  src/test/unit/wondercard-display.test.ts
Due: prettier --write

docs(wondercards): 収録結果を記録しlocal_125を完了
  spec/agent/complete/local_124/WONDER_CARD_INTEGRATION.md
  spec/agent/complete/local_125/WONDER_CARD_COLLECTION.md
Due: none

docs(wondercards): 配達員の検索・個体生成画面を仕様化
  spec/agent/wip/local_126/WONDER_CARD_UI.md
Due: none

feat(wondercard): 配達員画面の入力保存と実行要求を実装
  src/features/wondercard-list/hooks/use-wondercard-execution.ts
  src/features/wondercard-list/hooks/use-wondercard-list.ts
  src/features/wondercard-list/hooks/use-wondercard-selection.ts
  src/features/wondercard-list/store.ts
  src/features/wondercard-list/types.ts
  src/features/wondercard-search/hooks/use-wondercard-search.ts
  src/features/wondercard-search/store.ts
  src/features/wondercard-search/types.ts
  src/lib/search-filter-context.ts
  src/services/search-estimation.ts
  src/test/fixtures/wondercards/ui.ts
  src/test/unit/wondercard-ui-state.test.ts
Due: prettier --write
