Repository niart120/5genSearch-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cargo fmt --

feat: app icon branding and OGP metadata (#108)
  README.md
  index.html
  package.json
  pnpm-lock.yaml
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/icon-192-maskable.png
  public/icon-192.png
  public/icon-512-maskable.png
  public/icon-512.png
  public/icon.png
  public/manifest.json
  public/vite.svg
  scripts/generate-icons.js
  spec/agent/wip/local_096/APP_ICON_BRANDING.md
  src/components/layout/header.tsx
  src/features/about/components/about-page.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/test/components/layout/header.test.tsx
  src/wasm/wasm_pkg_bg.wasm.d.ts
Due: prettier --write

docs(spec): close local_096 - app icon branding complete
  spec/agent/complete/local_096/APP_ICON_BRANDING.md
Due: none

Delete APP_ICON_BRANDING.md
  spec/agent/wip/local_096/APP_ICON_BRANDING.md
Due: none

docs: add CD spec (hybrid release flow)
  spec/agent/wip/local_097/CONTINUOUS_DELIVERY.md
Due: none

ci: add base path for GitHub Pages deployment
  vite.config.ts
Due: prettier --write

ci: trigger CI on tag push (v*)
  .github/workflows/ci.yml
Due: none

ci: add CD workflow for GitHub Pages deployment
  .github/workflows/cd.yml
Due: none

ci: add release-please workflow and config
  .github/workflows/release-please.yml
  .release-please-manifest.json
  release-please-config.json
Due: prettier --write

ci: add commitlint for Conventional Commits enforcement
  .commitlintrc.json
  .github/workflows/commitlint.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: replace manual deploy prompt with release prompt
  .github/prompts/github-pages-deploy.prompt.md
  .github/prompts/release.prompt.md
Due: none

ci: rename release prompt to gh-pages-release
  .github/prompts/gh-pages-release.prompt.md
Due: none

ci: add continuous delivery pipeline for GitHub Pages (#109)
  .commitlintrc.json
  .github/prompts/gh-pages-release.prompt.md
  .github/prompts/github-pages-deploy.prompt.md
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  .github/workflows/release-please.yml
  .release-please-manifest.json
  package.json
  pnpm-lock.yaml
  release-please-config.json
  spec/agent/wip/local_097/CONTINUOUS_DELIVERY.md
  vite.config.ts
Due: prettier --write

docs: update CD spec checklist and prompt filename
  spec/agent/wip/local_097/CONTINUOUS_DELIVERY.md
Due: none

docs: move CD spec to complete
  spec/agent/complete/local_097/CONTINUOUS_DELIVERY.md
Due: none

fix: restrict egg features to BW; set default sort order per table
  src/components/layout/feature-content.tsx
  src/components/layout/placeholder-page.tsx
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/egg-list/components/egg-list-page.tsx
  src/features/egg-search/components/egg-search-page.tsx
  src/features/needle/components/needle-page.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/features/tid-adjust/components/tid-adjust-page.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/test/components/layout/feature-content.test.tsx
Due: prettier --write

refactor: apply self-review suggestions
  src/components/data-display/data-table-types.ts
  src/components/data-display/index.ts
  src/components/layout/feature-content.tsx
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/egg-list/components/egg-list-page.tsx
  src/features/egg-search/components/egg-search-page.tsx
  src/features/needle/components/needle-page.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/features/tid-adjust/components/tid-adjust-page.tsx
  src/test/components/layout/feature-content.test.tsx
Due: prettier --write

fix: fix icon loading broken by base path configuration
  index.html
  public/manifest.json
  src/components/layout/header.tsx
Due: prettier --write

fix: minor tweaks (icon loading, egg feature restrictions, sort order) (#111)
  index.html
  public/manifest.json
  src/components/data-display/data-table-types.ts
  src/components/data-display/index.ts
  src/components/layout/feature-content.tsx
  src/components/layout/header.tsx
  src/components/layout/placeholder-page.tsx
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/egg-list/components/egg-list-page.tsx
  src/features/egg-search/components/egg-search-page.tsx
  src/features/needle/components/needle-page.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/features/tid-adjust/components/tid-adjust-page.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/test/components/layout/feature-content.test.tsx
Due: prettier --write

fix(ci): integrate deploy job into release-please workflow
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
Due: none

fix(ci): integrate deploy job into release-please workflow (#112)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
Due: none

spec: 個体生成並列化仕様書を追加 (local_098)
  spec/agent/wip/local_098/GENERATION_PARALLELIZATION.md
Due: none

spec: runSearchLoop 再利用パターンに修正 (車輪の再発明を排除)
  spec/agent/wip/local_098/GENERATION_PARALLELIZATION.md
Due: none

spec: OriginChunkIterator の配置場所を明記
  spec/agent/wip/local_098/GENERATION_PARALLELIZATION.md
Due: none

feat: add splitOrigins and parallel task generation functions
  src/services/search-tasks.ts
  src/test/unit/search-tasks.test.ts
Due: prettier --write

feat: add OriginChunkIterator and batch-loop generation in worker
  src/workers/search.worker.ts
Due: prettier --write

feat: expose workerCount from useSearch and use parallel tasks in hooks
  src/features/egg-list/hooks/use-egg-list.ts
  src/features/pokemon-list/hooks/use-pokemon-list.ts
  src/hooks/use-search.ts
  src/test/unit/features/use-mtseed-search.test.ts
  src/workers/search.worker.ts
Due: prettier --write

test: add integration tests for parallel generation
  src/test/integration/generation-parallel.test.ts
Due: prettier --write

fix: correct test expectations and fix unhandled error
  src/test/integration/generation-parallel.test.ts
  src/test/unit/search-tasks.test.ts
Due: prettier --write

docs: complete local_098 - generation parallelization
  spec/agent/complete/local_098/GENERATION_PARALLELIZATION.md
Due: none

feat: 個体生成の並列化 (local_098) (#114)
  spec/agent/complete/local_098/GENERATION_PARALLELIZATION.md
  src/features/egg-list/hooks/use-egg-list.ts
  src/features/pokemon-list/hooks/use-pokemon-list.ts
  src/hooks/use-search.ts
  src/services/search-tasks.ts
  src/test/integration/generation-parallel.test.ts
  src/test/unit/features/use-mtseed-search.test.ts
  src/test/unit/search-tasks.test.ts
  src/workers/search.worker.ts
Due: prettier --write

chore: enable HTTPS dev server via vite-plugin-mkcert
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --write

chore: commitlint をローカル環境に導入
  .github/copilot-instructions.md
  .github/instructions/typescript.instructions.md
  .husky/commit-msg
Due: none

docs(spec): ポケモンリスト フィルタ強化 仕様書追加
  spec/agent/wip/local_099/POKEMON_LIST_FILTER_ENHANCEMENTS.md
Due: none

docs(spec): エンカウント結果フィルタにFishing対応を追加
  spec/agent/wip/local_099/POKEMON_LIST_FILTER_ENHANCEMENTS.md
Due: none

docs(spec): encounter result filterをpokemon only/item onlyの2種に整理
  spec/agent/wip/local_099/POKEMON_LIST_FILTER_ENHANCEMENTS.md
Due: none

docs(spec): 案Bレイアウト採用、フィルタラベル名称修正
  spec/agent/wip/local_099/POKEMON_LIST_FILTER_ENHANCEMENTS.md
Due: none

docs(spec): i18n戦略を既存キー修正に統一
  spec/agent/wip/local_099/POKEMON_LIST_FILTER_ENHANCEMENTS.md
Due: none

feat(wasm): pokemonFilterに持ち物スロット・エンカウント結果フィルタを追加
  wasm-pkg/src/types/filter.rs
  wasm-pkg/src/types/mod.rs
Due: cargo fmt --

build(wasm): 型定義を再生成
  src/wasm/wasm_pkg.d.ts
Due: prettier --write

feat(ui): レベル範囲・持ち物スロット・エンカウント結果フィルタコンポーネント追加
  src/components/forms/encounter-result-select.tsx
  src/components/forms/held-item-slot-select.tsx
  src/components/forms/index.ts
  src/components/forms/level-range-input.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,html}
  cargo fmt --: any of: *.rs
