Repository niart120/5genSearch-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cargo fmt --

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,html}": "prettier --write",
  "*.rs": "cargo fmt --"
}

fix: テンプレート選択ダイアログの Target Seeds 表記を修正
  spec/agent/complete/local_103/UI_LABEL_UNIFICATION.md
  src/features/datetime-search/components/template-selection-dialog.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
Due: prettier --write

fix: テンプレート選択ダイアログの Target Seeds 表記を修正 (#130)
  spec/agent/complete/local_103/UI_LABEL_UNIFICATION.md
  src/features/datetime-search/components/template-selection-dialog.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
Due: prettier --write

docs: ESLint/Prettier から oxlint/oxfmt への移行仕様書を追加
  spec/agent/wip/local_105/MIGRATE_TO_OXC_TOOLCHAIN.md
Due: none

chore: ESLint/Prettier から oxlint/oxfmt へ移行
  .github/copilot-instructions.md
  .github/instructions/typescript.instructions.md
  .github/prompts/pr-merge-cleanup.prompt.md
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .oxfmtrc.json
  .oxlintrc.json
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/hooks/use-search.ts
Due: prettier --write

docs: 移行チェックリスト更新
  spec/agent/wip/local_105/MIGRATE_TO_OXC_TOOLCHAIN.md
Due: none

fix(lint): correctness カテゴリ有効化と vitest プラグイン追加
  .oxlintrc.json
  scripts/bench-wasm-node.mjs
  scripts/scrape-encounters.js
  spec/agent/complete/local_105/MIGRATE_TO_OXC_TOOLCHAIN.md
  src/test/components/features/initial-values.test.tsx
  src/test/integration/gpu-profile.test.ts
  src/test/integration/iv-tooltip-wasm.test.ts
  src/test/integration/needle-search.test.ts
  src/test/integration/wasm-binding.test.ts
  src/test/unit/export.test.ts
  src/test/unit/lib/format.test.ts
Due: prettier --write

chore: ESLint/Prettier から oxlint/oxfmt へ移行 (#132)
  .github/copilot-instructions.md
  .github/instructions/typescript.instructions.md
  .github/prompts/pr-merge-cleanup.prompt.md
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .oxfmtrc.json
  .oxlintrc.json
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  scripts/bench-wasm-node.mjs
  scripts/scrape-encounters.js
  spec/agent/complete/local_105/MIGRATE_TO_OXC_TOOLCHAIN.md
  src/hooks/use-search.ts
  src/test/components/features/initial-values.test.tsx
  src/test/integration/gpu-profile.test.ts
  src/test/integration/iv-tooltip-wasm.test.ts
  src/test/integration/needle-search.test.ts
  src/test/integration/wasm-binding.test.ts
  src/test/unit/export.test.ts
  src/test/unit/lib/format.test.ts
Due: prettier --write

ci: ツールチェイン更新とキャッシュ管理改善
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  .github/workflows/release-please.yml
Due: none

fix(wasm): 3DS×BW2 の初期 Seed frame を 8 に補正
  spec/agent/complete/local_106/FRAME_3DS_BW2_FIX.md
  wasm-pkg/src/core/seed_resolver.rs
  wasm-pkg/src/core/sha1/message.rs
  wasm-pkg/src/core/sha1/scalar.rs
  wasm-pkg/src/datetime_search/base.rs
  wasm-pkg/src/gpu/datetime_search/pipeline.rs
  wasm-pkg/tests/frame_3ds_bw2.rs
Due: cargo fmt --

fix(wasm): 3DS×BW2 の初期 Seed frame を 8 に補正 (#133)
  spec/agent/complete/local_106/FRAME_3DS_BW2_FIX.md
  wasm-pkg/src/core/seed_resolver.rs
  wasm-pkg/src/core/sha1/message.rs
  wasm-pkg/src/core/sha1/scalar.rs
  wasm-pkg/src/datetime_search/base.rs
  wasm-pkg/src/gpu/datetime_search/pipeline.rs
  wasm-pkg/tests/frame_3ds_bw2.rs
Due: cargo fmt --

refactor(wasm): hardware enum リネームと dsi×bw2 frame 値補正
  spec/agent/complete/local_107/HARDWARE_ENUM_RENAME_AND_DSI_BW2_FRAME.md
  src/data/timer0-vcount-defaults.ts
  src/lib/game-data-names.ts
  src/lib/validation.ts
  src/services/export.ts
  src/test/unit/data/timer0-vcount-defaults.test.ts
  src/wasm/wasm_pkg.d.ts
  wasm-pkg/src/core/sha1/message.rs
  wasm-pkg/src/core/sha1/nazo.rs
  wasm-pkg/src/gpu/datetime_search/pipeline.rs
  wasm-pkg/src/types/config.rs
  wasm-pkg/tests/frame_3ds_bw2.rs
Due: prettier --write, cargo fmt --

refactor(wasm): hardware enum リネームと dsi×bw2 frame 値補正 (#135)
  spec/agent/complete/local_107/HARDWARE_ENUM_RENAME_AND_DSI_BW2_FRAME.md
  src/data/timer0-vcount-defaults.ts
  src/lib/game-data-names.ts
  src/lib/validation.ts
  src/services/export.ts
  src/test/unit/data/timer0-vcount-defaults.test.ts
  src/wasm/wasm_pkg.d.ts
  wasm-pkg/src/core/sha1/message.rs
  wasm-pkg/src/core/sha1/nazo.rs
  wasm-pkg/src/gpu/datetime_search/pipeline.rs
  wasm-pkg/src/types/config.rs
  wasm-pkg/tests/frame_3ds_bw2.rs
Due: prettier --write, cargo fmt --

test(wasm): gpu 全探索テストを ignore 化
  wasm-pkg/src/gpu/mtseed_search/iterator.rs
Due: cargo fmt --

test(wasm): gpu 全探索テストを ignore 化 (#136)
  wasm-pkg/src/gpu/mtseed_search/iterator.rs
Due: cargo fmt --

chore(release): changelog section 設定を追加
  release-please-config.json
Due: prettier --write

ci(release): release-please 設定ファイルを参照する
  .github/workflows/release-please.yml
Due: none

chore(ci): github actionsのmajor更新
  .github/workflows/ci.yml
  .github/workflows/commitlint.yml
  .github/workflows/release-please.yml
Due: none

fix: かわらずのいし性格遺伝判定を修正
  spec/agent/complete/local_004/GENERATION_ALGORITHM.md
  spec/agent/complete/local_017/EGG_GENERATION_REDESIGN.md
  wasm-pkg/src/generation/algorithm/nature.rs
Due: cargo fmt --

fix: タマゴ遺伝スロットの乱数消費を修正
  spec/agent/complete/local_005/GENERATION_FLOWS.md
  spec/agent/complete/local_017/EGG_GENERATION_REDESIGN.md
  wasm-pkg/src/generation/flows/egg.rs
Due: cargo fmt --

test: macアドレス入力のフォーカス移動を検証
  src/test/components/forms/mac-address-input.test.tsx
Due: prettier --write

docs: リリースプロンプトのpending判定を明確化
  .github/prompts/gh-pages-release.prompt.md
Due: none

fix(seed-input): 起動条件seedの再解決漏れを修正
  package.json
  spec/agent/complete/local_109/STARTUP_ORIGIN_REFRESH.md
  src/components/forms/seed-input-section.tsx
  src/test/components/seed-input-section.test.tsx
Due: prettier --write

docs(spec): 派生値解決タイミング方針を追加
  spec/agent/wip/local_110/DERIVED_VALUE_RESOLUTION_POLICY.md
Due: none

docs(spec): 派生値方針のpending転写先を明確化
  spec/agent/wip/local_110/DERIVED_VALUE_RESOLUTION_POLICY.md
Due: none

fix(state): 派生値と転写値の解決タイミングを修正
  spec/agent/complete/local_110/DERIVED_VALUE_RESOLUTION_POLICY.md
  src/components/forms/egg-filter-form.tsx
  src/components/forms/egg-params-form.tsx
  src/components/forms/seed-input-section.tsx
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/egg-list/components/egg-list-page.tsx
  src/features/egg-list/store.ts
  src/features/egg-search/components/egg-search-page.tsx
  src/features/egg-search/store.ts
  src/features/needle/components/needle-page.tsx
  src/features/pokemon-list/components/pokemon-filter-form.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/features/pokemon-list/components/pokemon-params-form.tsx
  src/features/pokemon-list/store.ts
  src/hooks/use-search-results.ts
  src/lib/navigate.ts
  src/stores/search/results.ts
  src/test/components/features/datetime-search-page.test.tsx
  src/test/components/features/egg-filter-form.test.tsx
  src/test/components/features/egg-params-form.test.tsx
  src/test/components/features/initial-values.test.tsx
  src/test/components/features/pokemon-filter-form.test.tsx
  src/test/components/features/pokemon-params-form.test.tsx
  src/test/components/seed-input-section.test.tsx
  src/test/unit/features/egg-list-store.test.ts
  src/test/unit/features/egg-search-store.test.ts
  src/test/unit/features/pokemon-list-store.test.ts
  src/test/unit/stores/results.test.ts
Due: prettier --write

fix(state): 派生値と転写値の解決タイミングを修正
  package.json
  spec/agent/complete/local_109/STARTUP_ORIGIN_REFRESH.md
  spec/agent/complete/local_110/DERIVED_VALUE_RESOLUTION_POLICY.md
  src/components/forms/egg-filter-form.tsx
  src/components/forms/egg-params-form.tsx
  src/components/forms/seed-input-section.tsx
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/egg-list/components/egg-list-page.tsx
  src/features/egg-list/store.ts
  src/features/egg-search/components/egg-search-page.tsx
  src/features/egg-search/store.ts
  src/features/needle/components/needle-page.tsx
  src/features/pokemon-list/components/pokemon-filter-form.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/features/pokemon-list/components/pokemon-params-form.tsx
  src/features/pokemon-list/store.ts
  src/hooks/use-search-results.ts
  src/lib/navigate.ts
  src/stores/search/results.ts
  src/test/components/features/datetime-search-page.test.tsx
  src/test/components/features/egg-filter-form.test.tsx
  src/test/components/features/egg-params-form.test.tsx
  src/test/components/features/initial-values.test.tsx
  src/test/components/features/pokemon-filter-form.test.tsx
  src/test/components/features/pokemon-params-form.test.tsx
  src/test/components/seed-input-section.test.tsx
  src/test/unit/features/egg-list-store.test.ts
  src/test/unit/features/egg-search-store.test.ts
  src/test/unit/features/pokemon-list-store.test.ts
  src/test/unit/stores/results.test.ts
Due: prettier --write

chore: pnpmローカルストアをignoreに追加
  .gitignore
Due: none

fix(ds-config): timer0自動トグルの再同期不具合を修正
  spec/agent/complete/local_111/TIMER0_AUTO_TOGGLE_SYNC.md
  src/features/ds-config/components/timer0-vcount-section.tsx
  src/stores/settings/ds-config.ts
  src/test/components/features/ds-config-form.test.tsx
  src/test/unit/stores/ds-config.test.ts
Due: prettier --write

docs(spec): 保存データ初期化仕様を追加
  spec/agent/wip/local_112/APP_STORAGE_RESET.md
Due: none

feat(about): 保存データ初期化を追加
  spec/agent/complete/local_112/APP_STORAGE_RESET.md
  src/features/about/components/about-page.tsx
  src/features/about/components/app-storage-reset-section.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/services/app-storage-reset.ts
  src/test/components/features/about-page.test.tsx
  src/test/unit/services/app-storage-reset.test.ts
Due: prettier --write

fix(about): 保存データ初期化の説明文を簡潔化
  spec/agent/complete/local_112/APP_STORAGE_RESET.md
  src/features/about/components/app-storage-reset-section.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
Due: prettier --write

docs(spec): レポート針消費位置整合仕様を追加
  spec/agent/wip/local_113/NEEDLE_ADVANCE_SEMANTICS.md
Due: none
