Repository niart120/5genSearch-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cargo fmt --

feat: Seed IV tooltip (local_084) (#95)
  package.json
  pnpm-lock.yaml
  spec/agent/complete/local_084/SEED_IV_TOOLTIP.md
  src/app.tsx
  src/components/data-display/seed-iv-tooltip.tsx
  src/components/ui/tooltip.tsx
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/datetime-search/components/result-detail-dialog.tsx
  src/features/datetime-search/components/seed-origin-columns.tsx
  src/features/egg-list/components/result-detail-dialog.tsx
  src/features/mtseed-search/components/mtseed-result-columns.tsx
  src/features/mtseed-search/components/mtseed-search-page.tsx
  src/features/pokemon-list/components/result-detail-dialog.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/lib/iv-tooltip.ts
  src/test/components/seed-iv-tooltip.test.tsx
  src/test/integration/iv-tooltip-wasm.test.ts
  src/test/unit/iv-tooltip.test.ts
  src/wasm/wasm_pkg.d.ts
  src/wasm/wasm_pkg_bg.wasm.d.ts
  wasm-pkg/src/generation/algorithm/mod.rs
  wasm-pkg/src/lib.rs
Due: prettier --write, cargo fmt --

chore: add PR template for agent-authored pull requests
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: add Commit Log section to PR template, update pr-merge-cleanup prompt to follow template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/prompts/pr-merge-cleanup.prompt.md
Due: none

chore: add PR template for agent-authored pull requests (#96)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/prompts/pr-merge-cleanup.prompt.md
Due: none

spec: add RESULT_EXPORT spec (local_085)
  spec/agent/wip/local_085/RESULT_EXPORT.md
Due: none

spec: finalize JSON export meta fields (local_085)
  spec/agent/wip/local_085/RESULT_EXPORT.md
Due: none

spec: clarify lib utility reuse and add formatMacAddress (local_085)
  spec/agent/wip/local_085/RESULT_EXPORT.md
Due: none

feat: add result export core logic and UI components
  src/components/data-display/export-toolbar.tsx
  src/components/ui/dropdown-menu.tsx
  src/hooks/use-export.ts
  src/lib/format.ts
  src/services/export-columns.ts
  src/services/export.ts
Due: prettier --write

feat: integrate ExportToolbar into all 7 feature pages
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/egg-list/components/egg-list-page.tsx
  src/features/egg-search/components/egg-search-page.tsx
  src/features/mtseed-search/components/mtseed-search-page.tsx
  src/features/needle/components/needle-page.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/features/tid-adjust/components/tid-adjust-page.tsx
Due: prettier --write

feat: add i18n translations and install dropdown-menu dependency
  package.json
  pnpm-lock.yaml
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
Due: prettier --write

test: add unit and component tests for result export
  src/test/components/export-toolbar.test.tsx
  src/test/unit/export.test.ts
Due: prettier --write

docs: mark local_085 RESULT_EXPORT spec as complete
  spec/agent/complete/local_085/RESULT_EXPORT.md
Due: none

refactor: needle エクスポート機能を削除
  src/features/needle/components/needle-page.tsx
  src/services/export-columns.ts
Due: prettier --write

feat: datetime-search JSON エクスポートで SeedOrigin を構造的にシリアライズ
  src/features/datetime-search/components/datetime-search-page.tsx
  src/hooks/use-export.ts
  src/services/export.ts
  src/test/unit/export.test.ts
Due: prettier --write

docs: RESULT_EXPORT 仕様書を更新し SeedOrigin JSON 仕様を追記
  spec/agent/complete/local_085/RESULT_EXPORT.md
  spec/agent/notes/dev-journal.md
Due: none

fix(export): self-review issues
  src/features/tid-adjust/components/tid-adjust-page.tsx
  src/hooks/use-export.ts
  src/services/export.ts
Due: prettier --write

feat: 検索結果エクスポート機能 (JSON/CSV/TSV) (#97)
  package.json
  pnpm-lock.yaml
  spec/agent/complete/local_085/RESULT_EXPORT.md
  spec/agent/notes/dev-journal.md
  src/components/data-display/export-toolbar.tsx
  src/components/ui/dropdown-menu.tsx
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/egg-list/components/egg-list-page.tsx
  src/features/egg-search/components/egg-search-page.tsx
  src/features/mtseed-search/components/mtseed-search-page.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/features/tid-adjust/components/tid-adjust-page.tsx
  src/hooks/use-export.ts
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/lib/format.ts
  src/services/export-columns.ts
  src/services/export.ts
  src/test/components/export-toolbar.test.tsx
  src/test/unit/export.test.ts
Due: prettier --write

feat: implement SeedOrigin import/transfer (local_086)
  spec/agent/notes/dev-journal.md
  spec/agent/wip/local_086/SEED_ORIGIN_IMPORT.md
  src/components/forms/seed-input-section.tsx
  src/components/forms/seed-origin-table.tsx
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/datetime-search/components/result-detail-dialog.tsx
  src/features/egg-search/components/result-detail-dialog.tsx
  src/features/needle/components/needle-page.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/hooks/use-search-results.ts
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/lib/navigate.ts
  src/services/export.ts
  src/services/seed-origin-serde.ts
  src/stores/search/results.ts
  src/test/unit/seed-origin-serde.test.ts
Due: prettier --write

chore: mark local_086 spec as complete and move to complete/
  spec/agent/complete/local_086/SEED_ORIGIN_IMPORT.md
Due: none

fix(local_086): replace detail dialog navigation with store-based pendingDetailOrigin transfer
  spec/agent/complete/local_086/SEED_ORIGIN_IMPORT.md
  src/components/forms/seed-input-section.tsx
  src/features/datetime-search/components/result-detail-dialog.tsx
  src/features/egg-search/components/result-detail-dialog.tsx
  src/features/needle/components/needle-page.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/lib/format.ts
  src/stores/search/results.ts
  src/test/components/seed-input-section.test.tsx
  src/test/components/seed-origin-table.test.tsx
  src/test/unit/lib/format.test.ts
  src/test/unit/stores/results.test.ts
Due: prettier --write

fix(seed-origin): per-page pendingDetailOrigins, toast on transfer, z-index fix
  spec/agent/complete/local_086/SEED_ORIGIN_IMPORT.md
  src/components/forms/seed-input-section.tsx
  src/components/ui/toast.tsx
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/datetime-search/components/result-detail-dialog.tsx
  src/features/egg-list/components/egg-list-page.tsx
  src/features/egg-search/components/result-detail-dialog.tsx
  src/features/needle/components/needle-page.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/ja/messages.po
  src/stores/search/results.ts
  src/test/components/seed-input-section.test.tsx
  src/test/unit/stores/results.test.ts
Due: prettier --write

refactor: self-review feedback for seed-origin-import
  spec/agent/notes/dev-journal.md
  src/components/forms/seed-origin-table.tsx
  src/services/export.ts
  src/test/components/seed-origin-table.test.tsx
  src/test/integration/seed-origin-import.test.ts
  src/test/unit/export.test.ts
Due: prettier --write

feat: implement SeedOrigin import/transfer (local_086) (#98)
  spec/agent/complete/local_086/SEED_ORIGIN_IMPORT.md
  spec/agent/notes/dev-journal.md
  src/components/forms/seed-input-section.tsx
  src/components/forms/seed-origin-table.tsx
  src/components/ui/toast.tsx
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/datetime-search/components/result-detail-dialog.tsx
  src/features/egg-list/components/egg-list-page.tsx
  src/features/egg-search/components/result-detail-dialog.tsx
  src/features/needle/components/needle-page.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/hooks/use-search-results.ts
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/lib/format.ts
  src/lib/navigate.ts
  src/services/export.ts
  src/services/seed-origin-serde.ts
  src/stores/search/results.ts
  src/test/components/seed-input-section.test.tsx
  src/test/components/seed-origin-table.test.tsx
  src/test/integration/seed-origin-import.test.ts
  src/test/unit/export.test.ts
  src/test/unit/lib/format.test.ts
  src/test/unit/seed-origin-serde.test.ts
  src/test/unit/stores/results.test.ts
Due: prettier --write

chore(husky): skip pre-push checks on deletion-only push
  .husky/pre-push
Due: none

fix: remove unnecessary --no-verify flag from remote branch deletion command
  .github/prompts/pr-merge-cleanup.prompt.md
Due: none

Enable ESLint cache and add lint scripts
  .gitignore
  .lintstagedrc.mjs
  package.json
Due: prettier --write

spec: add feature default values review spec (local_087)
  spec/agent/wip/local_087/FEATURE_DEFAULT_VALUES.md
Due: none

feat: 各 feature フォームの初期値見直し (local_087)
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/datetime-search/default-seeds.ts
  src/features/egg-list/components/egg-list-page.tsx
  src/features/egg-search/components/egg-search-page.tsx
  src/features/mtseed-search/components/mtseed-search-page.tsx
  src/features/needle/components/needle-page.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/features/pokemon-list/components/pokemon-params-form.tsx
  src/features/pokemon-list/types.ts
  src/features/tid-adjust/components/tid-adjust-page.tsx
  src/lib/date-range.ts
  src/test/components/features/initial-values.test.tsx
  src/test/unit/datetime-search-default-seeds.test.ts
  src/test/unit/lib/date-range.test.ts
Due: prettier --write

docs: local_087 実装完了 - 仕様書チェックリスト更新・complete へ移動
  spec/agent/complete/local_087/FEATURE_DEFAULT_VALUES.md
Due: none

Delete FEATURE_DEFAULT_VALUES.md
  spec/agent/wip/local_087/FEATURE_DEFAULT_VALUES.md
Due: none

fix: セルフレビュー指摘4件を修正
  src/features/datetime-search/default-seeds.ts
  src/features/egg-search/components/egg-search-page.tsx
  src/features/pokemon-list/components/pokemon-params-form.tsx
  src/features/tid-adjust/components/tid-adjust-page.tsx
Due: prettier --write

feat: 各 feature フォームの初期値見直し (local_087) (#99)
  spec/agent/complete/local_087/FEATURE_DEFAULT_VALUES.md
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/datetime-search/default-seeds.ts
  src/features/egg-list/components/egg-list-page.tsx
  src/features/egg-search/components/egg-search-page.tsx
  src/features/mtseed-search/components/mtseed-search-page.tsx
  src/features/needle/components/needle-page.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/features/pokemon-list/components/pokemon-params-form.tsx
  src/features/pokemon-list/types.ts
  src/features/tid-adjust/components/tid-adjust-page.tsx
  src/lib/date-range.ts
  src/test/components/features/initial-values.test.tsx
  src/test/unit/datetime-search-default-seeds.test.ts
  src/test/unit/lib/date-range.test.ts
Due: prettier --write

spec: add STATE_PERSISTENCE spec (local_088)
  spec/agent/wip/local_088/STATE_PERSISTENCE.md
Due: none

spec: fix SeedOrigin exclusion rationale in STATE_PERSISTENCE
  spec/agent/wip/local_088/STATE_PERSISTENCE.md
Due: none

docs: update dev-journal filter-form entry with local_088 context
  spec/agent/notes/dev-journal.md
Due: none

feat: Feature Store 導入 — フォーム入力永続化・検索結果保持 (local_088)
  spec/agent/architecture/frontend-structure.md
  spec/agent/architecture/state-management.md
  spec/agent/complete/local_088/STATE_PERSISTENCE.md
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/datetime-search/hooks/use-datetime-search.ts
  src/features/datetime-search/store.ts
  src/features/egg-list/components/egg-list-page.tsx
  src/features/egg-list/hooks/use-egg-list.ts
  src/features/egg-list/store.ts
  src/features/egg-search/components/egg-search-page.tsx
  src/features/egg-search/hooks/use-egg-search.ts
  src/features/egg-search/store.ts
  src/features/mtseed-search/components/mtseed-search-page.tsx
  src/features/mtseed-search/hooks/use-mtseed-search.ts
  src/features/mtseed-search/store.ts
  src/features/needle/components/needle-page.tsx
  src/features/needle/hooks/use-needle-search.ts
  src/features/needle/store.ts
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/features/pokemon-list/hooks/use-pokemon-list.ts
  src/features/pokemon-list/store.ts
  src/features/tid-adjust/components/tid-adjust-page.tsx
  src/features/tid-adjust/hooks/use-tid-adjust.ts
  src/features/tid-adjust/store.ts
  src/test/unit/features/datetime-search-store.test.ts
  src/test/unit/features/egg-list-store.test.ts
  src/test/unit/features/egg-search-store.test.ts
  src/test/unit/features/mtseed-search-store.test.ts
  src/test/unit/features/needle-store.test.ts
  src/test/unit/features/pokemon-list-store.test.ts
  src/test/unit/features/tid-adjust-store.test.ts
Due: prettier --write

refactor: appendResults差分同期 + rawResults Store化 (M-2, M-3)
  spec/agent/notes/dev-journal.md
  src/features/datetime-search/hooks/use-datetime-search.ts
  src/features/datetime-search/store.ts
  src/features/egg-list/hooks/use-egg-list.ts
  src/features/egg-list/store.ts
  src/features/egg-search/hooks/use-egg-search.ts
  src/features/egg-search/store.ts
  src/features/mtseed-search/hooks/use-mtseed-search.ts
  src/features/mtseed-search/store.ts
  src/features/pokemon-list/hooks/use-pokemon-list.ts
  src/features/pokemon-list/store.ts
  src/features/tid-adjust/hooks/use-tid-adjust.ts
  src/features/tid-adjust/store.ts
  src/test/unit/features/datetime-search-store.test.ts
  src/test/unit/features/egg-list-store.test.ts
  src/test/unit/features/egg-search-store.test.ts
  src/test/unit/features/mtseed-search-store.test.ts
  src/test/unit/features/pokemon-list-store.test.ts
  src/test/unit/features/tid-adjust-store.test.ts
Due: prettier --write

refactor: Low指摘対応 (L-1〜L-4)
  spec/agent/complete/local_088/STATE_PERSISTENCE.md
  src/features/mtseed-search/components/mtseed-search-page.tsx
  src/features/needle/hooks/use-needle-search.ts
  src/test/helpers/store.ts
  src/test/unit/features/datetime-search-store.test.ts
  src/test/unit/features/egg-list-store.test.ts
  src/test/unit/features/egg-search-store.test.ts
  src/test/unit/features/mtseed-search-store.test.ts
  src/test/unit/features/needle-store.test.ts
  src/test/unit/features/pokemon-list-store.test.ts
  src/test/unit/features/tid-adjust-store.test.ts
Due: prettier --write

test: Feature Hook Store同期テスト (§5.2)
  spec/agent/complete/local_088/STATE_PERSISTENCE.md
  src/test/unit/features/use-mtseed-search.test.ts
  src/test/unit/features/use-needle-search.test.ts
Due: prettier --write

refactor: Minor指摘対応 (m-1, m-2)
  src/features/egg-list/store.ts
  src/features/egg-search/store.ts
  src/features/tid-adjust/store.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,html}
  cargo fmt --: any of: *.rs
