Repository niart120/5genSearch-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cargo fmt --

fix(needle): レポート針の消費位置を統一
  spec/agent/complete/local_113/NEEDLE_ADVANCE_SEMANTICS.md
  src/test/integration/needle-search.test.ts
  src/wasm/wasm_pkg.d.ts
  src/wasm/wasm_pkg_bg.wasm.d.ts
  wasm-pkg/src/core/lcg.rs
  wasm-pkg/src/core/mod.rs
  wasm-pkg/src/core/needle.rs
  wasm-pkg/src/generation/algorithm/mod.rs
  wasm-pkg/src/generation/flows/generator/egg.rs
  wasm-pkg/src/generation/flows/generator/pokemon.rs
  wasm-pkg/src/generation/mod.rs
  wasm-pkg/src/lib.rs
  wasm-pkg/src/misc/needle_search.rs
  wasm-pkg/src/types/generation.rs
  wasm-pkg/src/types/needle.rs
Due: prettier --write, cargo fmt --

docs: codex 向け typescript 指示を復旧
  spec/agent/AGENTS.md
  src/AGENTS.md
Due: none

docs: spec-format と dev-journal skill を追加
  .agents/skills/dev-journal/SKILL.md
  .agents/skills/dev-journal/references/entry-template.md
  .agents/skills/spec-format/SKILL.md
  .agents/skills/spec-format/references/template.md
  spec/agent/AGENTS.md
Due: none

docs: i18n-catalog skill を追加
  .agents/skills/i18n-catalog/SKILL.md
  src/i18n/locales/AGENTS.md
Due: none

docs: codex 向け agent instructions を復旧
  .agents/skills/dev-journal/SKILL.md
  .agents/skills/dev-journal/references/entry-template.md
  .agents/skills/i18n-catalog/SKILL.md
  .agents/skills/spec-format/SKILL.md
  .agents/skills/spec-format/references/template.md
  spec/agent/AGENTS.md
  src/AGENTS.md
  src/i18n/locales/AGENTS.md
Due: none

fix(data): 第5世代種族マスタをPokeAPI差分で再生成
  package.json
  scripts/audit-gen5-species-data.js
  scripts/fetch-gen5-species-data.js
  scripts/generate-species-data.js
  scripts/pokeapi-gen5-species-data.js
  spec/agent/complete/local_029/gen5-species.json
  spec/agent/complete/local_114/GEN5_SPECIES_DATA_SNAPSHOT.md
  wasm-pkg/src/data/abilities.rs
  wasm-pkg/src/data/names.rs
  wasm-pkg/src/data/species.rs
Due: prettier --write, cargo fmt --

docs(spec): 特殊エンカウント発生表示の仕様を追加
  spec/agent/wip/local_115/SPECIAL_ENCOUNTER_TRIGGER.md
Due: none

feat(pokemon-list): 特殊エンカウント発生を表示・絞り込む
  spec/agent/complete/local_115/SPECIAL_ENCOUNTER_TRIGGER.md
  src/features/pokemon-list/components/encounter-constants.ts
  src/features/pokemon-list/components/pokemon-filter-form.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/features/pokemon-list/components/pokemon-result-columns.tsx
  src/features/pokemon-list/hooks/use-pokemon-list.ts
  src/features/pokemon-list/store.ts
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/test/components/features/pokemon-filter-form.test.tsx
  src/test/components/features/pokemon-result-columns.test.tsx
  src/test/unit/features/pokemon-list-store.test.ts
  src/wasm/wasm_pkg.d.ts
  src/wasm/wasm_pkg_bg.wasm.d.ts
  wasm-pkg/src/types/filter.rs
Due: prettier --write, cargo fmt --

fix(worker): 検索セッション間の応答を分離する
  spec/agent/architecture/worker-design.md
  src/services/worker-pool.ts
  src/test/integration/generation-parallel.test.ts
Due: prettier --write

fix(form): 最新条件から検索要求を確定する
  src/components/forms/input-helpers.ts
  src/components/forms/search-controls.tsx
  src/components/forms/stats-fixed-input.tsx
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/egg-list/components/egg-list-page.tsx
  src/features/egg-search/components/egg-search-page.tsx
  src/features/mtseed-search/components/mtseed-search-page.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/features/tid-adjust/components/tid-adjust-page.tsx
  src/test/components/features/datetime-search-page.test.tsx
  src/test/components/features/egg-list-page.test.tsx
  src/test/components/forms/stats-fixed-input.test.tsx
Due: prettier --write

fix: 機能タブ切替後も入力状態を保持する
  spec/agent/complete/local_116/FEATURE_TAB_INPUT_PERSISTENCE.md
  src/components/forms/seed-input-section.tsx
  src/components/forms/seed-input-state.ts
  src/features/egg-list/components/egg-list-page.tsx
  src/features/egg-list/store.ts
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/features/pokemon-list/components/pokemon-params-form.tsx
  src/features/pokemon-list/store.ts
  src/features/pokemon-list/types.ts
  src/test/components/features/pokemon-params-form.test.tsx
  src/test/components/seed-input-section.test.tsx
  src/test/unit/features/egg-list-store.test.ts
  src/test/unit/features/pokemon-list-store.test.ts
Due: prettier --write

fix(generation): 徘徊ポケモンの性格値生成を修正
  wasm-pkg/src/generation/algorithm/mod.rs
  wasm-pkg/src/generation/algorithm/pid.rs
  wasm-pkg/src/generation/flows/pokemon/static_encounter.rs
Due: cargo fmt --

test: 最新Clippyの空文字列検査に対応
  wasm-pkg/src/resolve/egg.rs
Due: cargo fmt --

fix(generation): 徘徊ポケモンの性格値生成を修正
  wasm-pkg/src/generation/algorithm/mod.rs
  wasm-pkg/src/generation/algorithm/pid.rs
  wasm-pkg/src/generation/flows/pokemon/static_encounter.rs
  wasm-pkg/src/resolve/egg.rs
Due: cargo fmt --

docs(spec): 生成個体の表示境界統一仕様を追加
  spec/agent/wip/local_117/RESULT_VIEW_CONSISTENCY.md
Due: none

fix(results): 生成個体の表示境界を統一
  src/features/egg-list/components/egg-list-page.tsx
  src/features/egg-list/components/egg-result-columns.tsx
  src/features/egg-list/components/result-detail-dialog.tsx
  src/features/egg-list/hooks/use-egg-list.ts
  src/features/egg-search/components/egg-result-columns.tsx
  src/features/egg-search/components/egg-search-page.tsx
  src/features/egg-search/components/result-detail-dialog.tsx
  src/features/egg-search/hooks/use-egg-search.ts
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/features/pokemon-list/components/pokemon-result-columns.tsx
  src/features/pokemon-list/components/result-detail-dialog.tsx
  src/features/pokemon-list/hooks/use-pokemon-list.ts
  src/features/pokemon-list/store.ts
  src/hooks/use-export.ts
  src/hooks/use-result-views.ts
  src/lib/result-view.ts
  src/services/export-columns.ts
  src/test/components/features/egg-list-page.test.tsx
  src/test/components/features/egg-list-result-columns.test.tsx
  src/test/components/features/egg-search-result-columns.test.tsx
  src/test/components/features/egg-search-result-detail-dialog.test.tsx
  src/test/components/features/pokemon-result-columns.test.tsx
  src/test/helpers/egg-result-view.ts
  src/test/helpers/pokemon-result-view.ts
  src/test/integration/egg-datetime-search.test.ts
  src/test/integration/egg-list-worker.test.ts
  src/test/unit/export.test.ts
  src/test/unit/features/pokemon-list-store.test.ts
  src/test/unit/features/use-result-view-hooks.test.ts
  src/test/unit/hooks/use-export.test.ts
  src/test/unit/hooks/use-result-views.test.ts
  src/wasm/wasm_pkg.d.ts
  src/wasm/wasm_pkg_bg.wasm.d.ts
  wasm-pkg/src/generation/flows/types.rs
  wasm-pkg/src/lib.rs
  wasm-pkg/src/resolve/egg.rs
  wasm-pkg/src/types/generation.rs
  wasm-pkg/tests/resolve_integration.rs
Due: prettier --write, cargo fmt --

docs(spec): 表示境界統一仕様を完了
  spec/agent/complete/local_117/RESULT_VIEW_CONSISTENCY.md
Due: none

docs(spec): 表示境界統一の検証結果を追記
  spec/agent/complete/local_117/RESULT_VIEW_CONSISTENCY.md
Due: none

ci: rust nightly toolchainを固定
  .github/workflows/ci.yml
  rust-toolchain.toml
  wasm-pkg/rust-toolchain.toml
Due: none

ci: tsifyとリリース用nightlyを固定
  .github/workflows/release-please.yml
  src/wasm/wasm_pkg_bg.wasm.d.ts
  wasm-pkg/Cargo.toml
Due: prettier --write

fix(data): ブラック・ホワイトの固定シンボルにビクティニを追加
  src/data/encounters/static/v1/B/StaticSymbol.json
  src/data/encounters/static/v1/W/StaticSymbol.json
  src/test/integration/encounter-service.test.ts
Due: prettier --write

docs(search): 個体値不問検索と生成器改修の設計を整理
  spec/agent/notes/dev-journal.md
  spec/agent/wip/local_118/POKEMON_SEARCH.md
  spec/agent/wip/local_119/POKEMON_SEARCH_ENGINE.md
  spec/agent/wip/local_120/POKEMON_GENERATION_PIPELINE.md
Due: none

docs(search): 個体値不問検索と生成器改修の設計を整理 (#168)
  spec/agent/notes/dev-journal.md
  spec/agent/wip/local_118/POKEMON_SEARCH.md
  spec/agent/wip/local_119/POKEMON_SEARCH_ENGINE.md
  spec/agent/wip/local_120/POKEMON_GENERATION_PIPELINE.md
Due: none

test(generator): 遅延計算改修前の生成結果と条件判定を固定する
  wasm-pkg/Cargo.toml
  wasm-pkg/tests/fixtures/generation_filters.txt
  wasm-pkg/tests/fixtures/generation_pipeline.txt
  wasm-pkg/tests/generation_pipeline.rs
Due: cargo fmt --

feat(generator): 非依存条件を先に判定して個体値計算を遅延する
  spec/agent/complete/local_120/POKEMON_GENERATION_PIPELINE.md
  spec/agent/wip/local_119/POKEMON_SEARCH_ENGINE.md
  src/wasm/wasm_pkg_bg.wasm.d.ts
  wasm-pkg/benches/generator.rs
  wasm-pkg/src/generation/flows/generator/mod.rs
  wasm-pkg/src/generation/flows/generator/pokemon.rs
  wasm-pkg/src/generation/flows/types.rs
  wasm-pkg/src/types/filter.rs
  wasm-pkg/src/types/mod.rs
  wasm-pkg/tests/generation_pipeline.rs
Due: prettier --write, cargo fmt --

feat(generator): 非依存条件を先に判定して個体値計算を遅延する (#169)
  spec/agent/complete/local_120/POKEMON_GENERATION_PIPELINE.md
  spec/agent/wip/local_119/POKEMON_SEARCH_ENGINE.md
  src/wasm/wasm_pkg_bg.wasm.d.ts
  wasm-pkg/Cargo.toml
  wasm-pkg/benches/generator.rs
  wasm-pkg/src/generation/flows/generator/mod.rs
  wasm-pkg/src/generation/flows/generator/pokemon.rs
  wasm-pkg/src/generation/flows/types.rs
  wasm-pkg/src/types/filter.rs
  wasm-pkg/src/types/mod.rs
  wasm-pkg/tests/fixtures/generation_filters.txt
  wasm-pkg/tests/fixtures/generation_pipeline.txt
  wasm-pkg/tests/generation_pipeline.rs
Due: prettier --write, cargo fmt --

feat(search): 個体値非依存条件の日時検索器とWorker経路を追加する
  src/services/search-tasks.ts
  src/services/worker-pool.ts
  src/test/integration/helpers/worker-test-utils.ts
  src/test/integration/pokemon-datetime-search.test.ts
  src/wasm/wasm_pkg.d.ts
  src/wasm/wasm_pkg_bg.wasm.d.ts
  src/workers/search.worker.ts
  src/workers/types.ts
  wasm-pkg/src/datetime_search/mod.rs
  wasm-pkg/src/datetime_search/pokemon.rs
  wasm-pkg/src/lib.rs
  wasm-pkg/src/types/filter.rs
  wasm-pkg/src/types/mod.rs
  wasm-pkg/src/types/search.rs
Due: prettier --write, cargo fmt --

feat(search): ポケモン条件の検索画面と結果の確認経路を追加する
  src/components/forms/species-select.tsx
  src/components/layout/navigation-labels.tsx
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/pokemon-list/components/pokemon-filter-form.tsx
  src/features/pokemon-list/components/result-detail-dialog.tsx
  src/features/pokemon-search/components/pokemon-search-columns.tsx
  src/features/pokemon-search/components/pokemon-search-filter-form.tsx
  src/features/pokemon-search/components/pokemon-search-page.tsx
  src/features/pokemon-search/components/search-mode-tabs.tsx
  src/features/pokemon-search/hooks/use-pokemon-search.ts
  src/features/pokemon-search/store.ts
  src/features/pokemon-search/types.ts
  src/hooks/use-export.ts
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/lib/navigate.ts
  src/services/export-columns.ts
  src/services/search-estimation.ts
  src/test/components/features/datetime-search-page.test.tsx
  src/test/components/features/pokemon-search-page.test.tsx
  src/test/components/features/search-mode-tabs.test.tsx
  src/test/components/layout/feature-tabs.test.tsx
  src/test/helpers/pokemon-search.ts
  src/test/integration/pokemon-datetime-performance.test.ts
  src/test/integration/pokemon-datetime-search.test.ts
  src/test/integration/services/worker-pool.test.ts
  src/test/unit/features/pokemon-search.test.ts
  src/test/unit/hooks/use-export.test.ts
  src/wasm/wasm_pkg_bg.wasm.d.ts
  wasm-pkg/src/datetime_search/pokemon.rs
Due: prettier --write, cargo fmt --

test(search): 検索結果の回帰検証と性能測定結果を確定する
  spec/agent/complete/local_118/POKEMON_SEARCH.md
  spec/agent/complete/local_119/NATIVE_PERFORMANCE.csv
  spec/agent/complete/local_119/POKEMON_SEARCH_ENGINE.md
  spec/agent/complete/local_119/WASM_PERFORMANCE.csv
  spec/agent/complete/local_120/POKEMON_GENERATION_PIPELINE.md
  spec/agent/notes/dev-journal.md
  src/i18n/locales/en/messages.po
  src/i18n/locales/ja/messages.po
  src/test/unit/features/pokemon-search-columns.test.ts
  wasm-pkg/src/gpu/profile.rs
Due: prettier --write, cargo fmt --

docs(spec): 日時探索空間の共通化設計を定義
  spec/agent/wip/local_121/DATETIME_SEARCH_SPACE.md
Due: none

docs(spec): 日時探索設計から中間検討の記述を整理
  spec/agent/wip/local_121/DATETIME_SEARCH_SPACE.md
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,html}
  cargo fmt --: any of: *.rs
