Repository niart120/5genSearch-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cargo fmt --

perf(wasm): C3/C4 検証 - SIMD128 ターゲットフィーチャーと wasm-opt --enable-simd を追加
  .gitignore
  scripts/optimize-wasm.js
  spec/agent/notes/dev-journal.md
  spec/agent/wip/local_076/SEARCH_THROUGHPUT_OPTIMIZATION.md
  wasm-pkg/.cargo/config.toml
Due: prettier --write

perf(sha1): SHA-1 SIMD 80ラウンドループを4分割して分岐を排除
  wasm-pkg/src/core/sha1/simd.rs
Due: cargo fmt --

perf(worker): C2 進捗報告スロットリング + WASM ベンチマーク
  scripts/bench-wasm-node.mjs
  spec/agent/wip/local_076/SEARCH_THROUGHPUT_OPTIMIZATION.md
  src/workers/search.worker.ts
  wasm-pkg/Cargo.toml
  wasm-pkg/tests/wasm_bench.rs
Due: prettier --write, cargo fmt --

refactor(worker): runSearchLoop 汎用ヘルパー抽出
  src/test/integration/services/worker-pool.test.ts
  src/workers/search.worker.ts
Due: prettier --write

refactor(worker): バッチごと yield に簡素化
  src/workers/search.worker.ts
Due: prettier --write

refactor(worker): バッチサイズを BATCH_SIZE 定数に一元化
  src/workers/search.worker.ts
Due: prettier --write

docs(worker): BATCH_SIZE コメントを計算コスト解析に基づき修正
  spec/agent/wip/local_076/SEARCH_THROUGHPUT_OPTIMIZATION.md
  src/workers/search.worker.ts
Due: prettier --write

perf(worker): BATCH_SIZE を計算コスト解析に基づき調整
  spec/agent/notes/dev-journal.md
  spec/agent/wip/local_076/SEARCH_THROUGHPUT_OPTIMIZATION.md
  src/workers/search.worker.ts
Due: prettier --write

perf(worker): BATCH_SIZE を cancel 応答 ~100ms 目標で再調整
  spec/agent/wip/local_076/SEARCH_THROUGHPUT_OPTIMIZATION.md
  src/workers/search.worker.ts
Due: prettier --write

perf(worker): BATCH_SIZE を ~50ms 目安に再調整
  spec/agent/wip/local_076/SEARCH_THROUGHPUT_OPTIMIZATION.md
  src/workers/search.worker.ts
Due: prettier --write

perf: days_to_date キャッシュで年依存スループット劣化を解消 (+18%)
  spec/agent/wip/local_076/SEARCH_THROUGHPUT_OPTIMIZATION.md
  spec/agent/wip/local_077/GPU_SEARCH_THROUGHPUT_OPTIMIZATION.md
  wasm-pkg/benches/datetime_search.rs
  wasm-pkg/src/datetime_search/base.rs
Due: cargo fmt --

docs: local_076 に C6 (days_to_date キャッシュ) の仮説・検証・実装を加筆
  spec/agent/wip/local_076/SEARCH_THROUGHPUT_OPTIMIZATION.md
Due: none

docs: move local_076 spec to complete
  spec/agent/complete/local_076/SEARCH_THROUGHPUT_OPTIMIZATION.md
Due: none

fix: exclude target/ from ESLint global ignores
  eslint.config.js
Due: prettier --write

style: format bench-wasm-node.mjs
  scripts/bench-wasm-node.mjs
Due: none

perf: search throughput optimization (#87)
  .gitignore
  eslint.config.js
  scripts/bench-wasm-node.mjs
  scripts/optimize-wasm.js
  spec/agent/complete/local_075/GIT_HOOKS_CONSOLIDATION.md
  spec/agent/complete/local_076/SEARCH_THROUGHPUT_OPTIMIZATION.md
  spec/agent/notes/dev-journal.md
  spec/agent/wip/local_077/GPU_SEARCH_THROUGHPUT_OPTIMIZATION.md
  src/test/integration/services/worker-pool.test.ts
  src/workers/search.worker.ts
  wasm-pkg/.cargo/config.toml
  wasm-pkg/Cargo.toml
  wasm-pkg/benches/datetime_search.rs
  wasm-pkg/src/core/sha1/simd.rs
  wasm-pkg/src/datetime_search/base.rs
  wasm-pkg/tests/wasm_bench.rs
Due: prettier --write, cargo fmt --

feat(gpu): ITEMS_PER_THREAD + GpuProfile WASM detection
  spec/agent/wip/local_077/GPU_SEARCH_THROUGHPUT_OPTIMIZATION.md
  src/workers/gpu.worker.ts
  wasm-pkg/src/gpu/datetime_search/pipeline.rs
  wasm-pkg/src/gpu/datetime_search/shader.wgsl
  wasm-pkg/src/gpu/limits.rs
  wasm-pkg/src/gpu/profile.rs
Due: prettier --write, cargo fmt --

Move GPU_SEARCH_THROUGHPUT_OPTIMIZATION to complete
  spec/agent/complete/local_077/GPU_SEARCH_THROUGHPUT_OPTIMIZATION.md
Due: none

feat(gpu): ITEMS_PER_THREAD + GpuProfile WASM detection (#88)
  spec/agent/complete/local_077/GPU_SEARCH_THROUGHPUT_OPTIMIZATION.md
  spec/agent/wip/local_077/GPU_SEARCH_THROUGHPUT_OPTIMIZATION.md
  src/workers/gpu.worker.ts
  wasm-pkg/src/gpu/datetime_search/pipeline.rs
  wasm-pkg/src/gpu/datetime_search/shader.wgsl
  wasm-pkg/src/gpu/limits.rs
  wasm-pkg/src/gpu/profile.rs
Due: prettier --write, cargo fmt --

spec: local_078 仕様書を改訂 (SIMD化/命名整理/ベンチマーク調整)
  spec/agent/wip/local_078/GPU_MTSEED_IV_SEARCH.md
Due: none

notes: Searcher/Iterator 命名不統一の記録
  spec/agent/notes/dev-journal.md
Due: none

feat(wasm): add SIMD x4 IV generation and migrate MtseedSearcher to SIMD
  wasm-pkg/src/generation/algorithm/iv.rs
  wasm-pkg/src/generation/algorithm/mod.rs
  wasm-pkg/src/misc/mtseed_search.rs
  wasm-pkg/src/types/search.rs
Due: cargo fmt --

feat(wasm): add GPU MT Seed IV search pipeline
  wasm-pkg/Cargo.toml
  wasm-pkg/benches/gpu_mtseed_search.rs
  wasm-pkg/src/gpu/limits.rs
  wasm-pkg/src/gpu/mod.rs
  wasm-pkg/src/gpu/mtseed_search/iterator.rs
  wasm-pkg/src/gpu/mtseed_search/mod.rs
  wasm-pkg/src/gpu/mtseed_search/pipeline.rs
  wasm-pkg/src/gpu/mtseed_search/shader.wgsl
  wasm-pkg/src/lib.rs
Due: cargo fmt --

feat(worker): integrate GPU MT Seed IV search in gpu.worker
  src/workers/gpu.worker.ts
  src/workers/types.ts
Due: prettier --write

docs: mark local_078 GPU MT Seed IV Search as complete
  spec/agent/complete/local_078/GPU_MTSEED_IV_SEARCH.md
Due: none

fix(worker): fix type narrowing in executeSearchLoop and rebuild WASM bindings
  src/wasm/wasm_pkg.d.ts
  src/wasm/wasm_pkg_bg.wasm.d.ts
  src/workers/gpu.worker.ts
Due: prettier --write

refactor: address self-review findings from GPU mtseed implementation
  src/workers/gpu.worker.ts
  wasm-pkg/benches/gpu_mtseed_search.rs
  wasm-pkg/src/gpu/limits.rs
  wasm-pkg/src/gpu/mtseed_search/iterator.rs
  wasm-pkg/src/gpu/mtseed_search/shader.wgsl
Due: prettier --write, cargo fmt --

feat: GPU MT Seed IV Search の実装 (#89)
  spec/agent/complete/local_078/GPU_MTSEED_IV_SEARCH.md
  spec/agent/notes/dev-journal.md
  src/wasm/wasm_pkg.d.ts
  src/wasm/wasm_pkg_bg.wasm.d.ts
  src/workers/gpu.worker.ts
  src/workers/types.ts
  wasm-pkg/Cargo.toml
  wasm-pkg/benches/gpu_mtseed_search.rs
  wasm-pkg/src/generation/algorithm/iv.rs
  wasm-pkg/src/generation/algorithm/mod.rs
  wasm-pkg/src/gpu/limits.rs
  wasm-pkg/src/gpu/mod.rs
  wasm-pkg/src/gpu/mtseed_search/iterator.rs
  wasm-pkg/src/gpu/mtseed_search/mod.rs
  wasm-pkg/src/gpu/mtseed_search/pipeline.rs
  wasm-pkg/src/gpu/mtseed_search/shader.wgsl
  wasm-pkg/src/lib.rs
  wasm-pkg/src/misc/mtseed_search.rs
  wasm-pkg/src/types/search.rs
Due: prettier --write, cargo fmt --

Add MT Seed search specification
  spec/agent/wip/local_079/MTSEED_SEARCH.md
Due: none

feat: implement MT Seed Search feature (local_079)
  src/components/layout/feature-content.tsx
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/mtseed-search/components/mtseed-result-columns.tsx
  src/features/mtseed-search/components/mtseed-search-form.tsx
  src/features/mtseed-search/components/mtseed-search-page.tsx
  src/features/mtseed-search/hooks/use-mtseed-search.ts
  src/features/mtseed-search/index.ts
  src/features/mtseed-search/types.ts
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/services/batch-utils.ts
  src/stores/search/results.ts
  src/test/components/layout/feature-content.test.tsx
  src/test/unit/mtseed-search-types.test.ts
Due: prettier --write

docs: mark local_079 checklist complete, move spec to complete/
  spec/agent/complete/local_079/MTSEED_SEARCH.md
Due: none

fix: GPU mtseed search items_per_thread mismatch causing seed skip
  wasm-pkg/src/gpu/mtseed_search/iterator.rs
  wasm-pkg/src/gpu/mtseed_search/pipeline.rs
  wasm-pkg/src/misc/mtseed_search.rs
Due: cargo fmt --

Add column widths to MTSeed result columns
  src/features/mtseed-search/components/mtseed-result-columns.tsx
Due: prettier --write

Use 400k batch in mtseed benchmark
  wasm-pkg/benches/mtseed_search.rs
Due: cargo fmt --

Increase mtseed batch size to 500k
  src/workers/search.worker.ts
Due: prettier --write

refactor: self-review fixes for mtseed-search
  spec/agent/complete/local_079/MTSEED_SEARCH.md
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/mtseed-search/components/mtseed-search-page.tsx
  src/lib/navigate.ts
  src/stores/settings/ui.ts
  wasm-pkg/benches/mtseed_search.rs
Due: prettier --write, cargo fmt --

feat: implement MT Seed Search feature (#90)
  spec/agent/complete/local_079/MTSEED_SEARCH.md
  src/components/layout/feature-content.tsx
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/mtseed-search/components/mtseed-result-columns.tsx
  src/features/mtseed-search/components/mtseed-search-form.tsx
  src/features/mtseed-search/components/mtseed-search-page.tsx
  src/features/mtseed-search/hooks/use-mtseed-search.ts
  src/features/mtseed-search/index.ts
  src/features/mtseed-search/types.ts
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/lib/navigate.ts
  src/services/batch-utils.ts
  src/stores/search/results.ts
  src/stores/settings/ui.ts
  src/test/components/layout/feature-content.test.tsx
  src/test/unit/mtseed-search-types.test.ts
  src/workers/search.worker.ts
  wasm-pkg/benches/mtseed_search.rs
  wasm-pkg/src/gpu/mtseed_search/iterator.rs
  wasm-pkg/src/gpu/mtseed_search/pipeline.rs
  wasm-pkg/src/misc/mtseed_search.rs
Due: prettier --write, cargo fmt --

spec: ID調整機能の仕様書作成 (local_080)
  spec/agent/notes/dev-journal.md
  spec/agent/wip/local_080/TID_ADJUST.md
Due: none

feat: ID調整 (TID Adjust) 機能を実装
  src/components/layout/feature-content.tsx
  src/features/tid-adjust/components/tid-adjust-form.tsx
  src/features/tid-adjust/components/tid-adjust-page.tsx
  src/features/tid-adjust/components/trainer-info-columns.tsx
  src/features/tid-adjust/hooks/use-tid-adjust.ts
  src/features/tid-adjust/index.ts
  src/features/tid-adjust/types.ts
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/services/batch-utils.ts
  src/test/integration/tid-adjust-search.test.ts
  src/test/unit/batch-utils.test.ts
  src/test/unit/tid-adjust-types.test.ts
Due: prettier --write

docs: local_080 TID_ADJUST チェックリスト完了、wip → complete 移動
  spec/agent/complete/local_080/TID_ADJUST.md
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,html}
  cargo fmt --: any of: *.rs
