Repository niart120/5genSearch-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cargo fmt --

feat(pokemon-list): フィルタフォームにレベル範囲・持ち物・エンカウント結果UIを統合
  src/features/pokemon-list/components/pokemon-filter-form.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/test/unit/services/search-estimation.test.ts
Due: prettier --write

chore(i18n): フィルタ関連の翻訳追加・Encounter result訳語修正
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
Due: prettier --write

test(pokemon-list): フィルタフォームのコンポーネントテスト追加
  src/test/components/features/pokemon-filter-form.test.tsx
Due: prettier --write

docs(spec): local_099 完了・completeへ移動
  spec/agent/complete/local_099/POKEMON_LIST_FILTER_ENHANCEMENTS.md
Due: none

fix(ui): onChangeシグネチャをオプショナル引数に統一
  src/components/forms/encounter-result-select.tsx
  src/components/forms/level-range-input.tsx
  src/test/components/features/pokemon-filter-form.test.tsx
Due: prettier --write

docs(notes): onChangeシグネチャ不統一の観察を追記
  spec/agent/notes/dev-journal.md
Due: none

fix(forms): level-range-inputで外部prop変更時に内部テキストを同期
  src/components/forms/level-range-input.tsx
Due: prettier --write

refactor(forms): encounter-result-selectの型アサーションを型ガードに置換
  src/components/forms/encounter-result-select.tsx
Due: prettier --write

test(pokemon-list): encounterType変更時のフィルタクリア伝播テストを追加
  src/test/components/features/pokemon-filter-form.test.tsx
Due: prettier --write

feat(pokemon-list): フィルタフォームにレベル範囲・持ち物・エンカウント結果UIを統合 (#116)
  spec/agent/complete/local_099/POKEMON_LIST_FILTER_ENHANCEMENTS.md
  spec/agent/notes/dev-journal.md
  src/components/forms/encounter-result-select.tsx
  src/components/forms/held-item-slot-select.tsx
  src/components/forms/index.ts
  src/components/forms/level-range-input.tsx
  src/features/pokemon-list/components/pokemon-filter-form.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/test/components/features/pokemon-filter-form.test.tsx
  src/test/unit/services/search-estimation.test.ts
  src/wasm/wasm_pkg.d.ts
  wasm-pkg/src/types/filter.rs
  wasm-pkg/src/types/mod.rs
Due: prettier --write, cargo fmt --

Add live app link to README
  README.md
Due: none

docs(spec): tid調整の検索結果にBase SeedとKey入力カラム追加の仕様書を起草
  spec/agent/wip/local_100/TID_ADJUST_MISSING_COLUMNS.md
Due: none

docs(spec): カラム名称一貫性とgetStartup重複に関する設計方針を追記
  spec/agent/wip/local_100/TID_ADJUST_MISSING_COLUMNS.md
Due: none

docs: getStartup重複とBase Seed/LCG Seed呼称不統一をdev-journalに記録
  spec/agent/notes/dev-journal.md
  spec/agent/wip/local_100/TID_ADJUST_MISSING_COLUMNS.md
Due: none

docs(spec): base seedカラムにSeedIvTooltipを付与する設計に変更
  spec/agent/wip/local_100/TID_ADJUST_MISSING_COLUMNS.md
Due: none

feat(tid-adjust): key・base seed カラムをテーブルとエクスポートに追加
  src/features/tid-adjust/components/tid-adjust-page.tsx
  src/features/tid-adjust/components/trainer-info-columns.tsx
  src/services/export-columns.ts
  src/test/unit/export.test.ts
Due: prettier --write

docs(spec): local_100 チェックリスト更新
  spec/agent/wip/local_100/TID_ADJUST_MISSING_COLUMNS.md
Due: none

docs(spec): local_100 を complete に移動
  spec/agent/complete/local_100/TID_ADJUST_MISSING_COLUMNS.md
Due: none

feat(tid-adjust): key・base seed カラムをテーブルとエクスポートに追加 (#117)
  spec/agent/complete/local_100/TID_ADJUST_MISSING_COLUMNS.md
  spec/agent/notes/dev-journal.md
  src/features/tid-adjust/components/tid-adjust-page.tsx
  src/features/tid-adjust/components/trainer-info-columns.tsx
  src/services/export-columns.ts
  src/test/unit/export.test.ts
Due: prettier --write

docs: コミット prefix 選択基準とリリース時チェックを追加
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
  .github/prompts/gh-pages-release.prompt.md
Due: none

test: gpu vs cpu mtseed datetime search 100年全探索比較テスト追加
  src/test/integration/gpu-cpu-mtseed-comparison.test.ts
Due: prettier --write

test: gpu vs cpu 比較テストをデフォルトでスキップ (RUN_HEAVY_TESTS=1 で有効化)
  src/test/integration/gpu-cpu-mtseed-comparison.test.ts
Due: prettier --write

fix: gpu vs cpu mtseed datetime search の比較テスト追加 (#119)
  src/test/integration/gpu-cpu-mtseed-comparison.test.ts
Due: prettier --write

fix(wasm): bw1 NewGame NoSave のオフセット計算を修正
  wasm-pkg/src/core/offset.rs
Due: cargo fmt --

docs: bw1 NewGame NoSave オフセット計算修正の仕様書を追加
  spec/agent/complete/local_101/BW1_NEW_GAME_NO_SAVE_OFFSET_FIX.md
Due: none

fix(wasm): bw1 NewGame NoSave のオフセット計算を修正 (#121)
  spec/agent/complete/local_101/BW1_NEW_GAME_NO_SAVE_OFFSET_FIX.md
  wasm-pkg/src/core/offset.rs
Due: cargo fmt --

fix(doc): correct formatting of seed value in TID calculation table
  spec/agent/complete/local_101/BW1_NEW_GAME_NO_SAVE_OFFSET_FIX.md
Due: none

fix(wasm): bw1 NewGame NoSave のオフセット計算を仮説B (Rand(1)+PT(3)+Rand(2)) に修正
  spec/agent/complete/local_101/BW1_NEW_GAME_NO_SAVE_OFFSET_FIX.md
  wasm-pkg/src/core/offset.rs
Due: cargo fmt --

fix(wasm): bw1 NewGame NoSave のオフセット計算を仮説B (Rand(1)+PT(3)+Rand(2)) に修正 (#123)
  spec/agent/complete/local_101/BW1_NEW_GAME_NO_SAVE_OFFSET_FIX.md
  wasm-pkg/src/core/offset.rs
Due: cargo fmt --

docs(spec): a抜け5V / c抜け5V 初期seedテンプレート追加仕様書
  spec/agent/wip/local_102/SEED_TEMPLATE_5V_ANY.md
  spec/agent/wip/local_102/references/mt_offset_0_5V_anyA.csv
  spec/agent/wip/local_102/references/mt_offset_0_5V_anyC.csv
  spec/agent/wip/local_102/references/mt_offset_2_5V_anyA.csv
  spec/agent/wip/local_102/references/mt_offset_2_5V_anyC.csv
Due: none

feat: a抜け5V / c抜け5V 初期seedテンプレートを追加
  src/data/seed-templates.ts
Due: prettier --write

docs(spec): チェックリスト更新・仕様書を complete へ移動
  spec/agent/complete/local_102/SEED_TEMPLATE_5V_ANY.md
  spec/agent/complete/local_102/references/mt_offset_0_5V_anyA.csv
  spec/agent/complete/local_102/references/mt_offset_0_5V_anyC.csv
  spec/agent/complete/local_102/references/mt_offset_2_5V_anyA.csv
  spec/agent/complete/local_102/references/mt_offset_2_5V_anyC.csv
Due: none

feat: a抜け5V / c抜け5V 初期seedテンプレートを追加 (#124)
  spec/agent/complete/local_102/SEED_TEMPLATE_5V_ANY.md
  spec/agent/complete/local_102/references/mt_offset_0_5V_anyA.csv
  spec/agent/complete/local_102/references/mt_offset_0_5V_anyC.csv
  spec/agent/complete/local_102/references/mt_offset_2_5V_anyA.csv
  spec/agent/complete/local_102/references/mt_offset_2_5V_anyC.csv
  src/data/seed-templates.ts
Due: prettier --write

docs: local_103 UI表記統一 / local_104 KeyCode→KeyMask境界変更の仕様書追加
  spec/agent/wip/local_103/UI_LABEL_UNIFICATION.md
  spec/agent/wip/local_104/KEY_DISPLAY_IMPROVEMENT.md
Due: none

refactor: base Seed / Initial Seed の表示名を LCG Seed に統一
  spec/agent/complete/local_103/UI_LABEL_UNIFICATION.md
  spec/agent/notes/dev-journal.md
  src/components/forms/seed-origin-table.tsx
  src/features/datetime-search/components/result-detail-dialog.tsx
  src/features/datetime-search/components/seed-origin-columns.tsx
  src/features/egg-list/components/result-detail-dialog.tsx
  src/features/egg-search/components/result-detail-dialog.tsx
  src/features/needle/components/needle-result-columns.tsx
  src/features/pokemon-list/components/result-detail-dialog.tsx
  src/features/tid-adjust/components/trainer-info-columns.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/ja/messages.po
  src/services/export-columns.ts
  src/test/components/seed-origin-table.test.tsx
  src/test/unit/export.test.ts
Due: prettier --write

refactor: base Seed / Initial Seed の表示名を LCG Seed に統一 (#127)
  spec/agent/complete/local_103/UI_LABEL_UNIFICATION.md
  spec/agent/notes/dev-journal.md
  src/components/forms/seed-origin-table.tsx
  src/features/datetime-search/components/result-detail-dialog.tsx
  src/features/datetime-search/components/seed-origin-columns.tsx
  src/features/egg-list/components/result-detail-dialog.tsx
  src/features/egg-search/components/result-detail-dialog.tsx
  src/features/needle/components/needle-result-columns.tsx
  src/features/pokemon-list/components/result-detail-dialog.tsx
  src/features/tid-adjust/components/trainer-info-columns.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/ja/messages.po
  src/services/export-columns.ts
  src/test/components/seed-origin-table.test.tsx
  src/test/unit/export.test.ts
Due: prettier --write

fix: 起動時刻検索の見出しを Initial Seed から MT Seed に変更
  spec/agent/complete/local_103/UI_LABEL_UNIFICATION.md
  src/components/forms/target-seeds-input.tsx
  src/features/datetime-search/components/datetime-search-page.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
Due: prettier --write

fix: 起動時刻検索の見出しを Initial Seed から MT Seed に変更 (#128)
  spec/agent/complete/local_103/UI_LABEL_UNIFICATION.md
  src/components/forms/target-seeds-input.tsx
  src/features/datetime-search/components/datetime-search-page.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,html}
  cargo fmt --: any of: *.rs
