Repository niart120/5genSearch-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cargo fmt --

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,css,html}": "prettier --write",
  "*.rs": "cargo fmt --"
}

refactor: callback依存の見直しとexhaustive-deps無効化の削減
  src/features/mtseed-search/components/mtseed-search-page.tsx
  src/features/needle/hooks/use-needle-search.ts
Due: prettier --write

docs: SeedInputSection pending消費リファクタリング仕様書を追加 (local_089)
  spec/agent/notes/dev-journal.md
  spec/agent/wip/local_089/SEED_INPUT_PENDING_REFACTOR.md
Due: none

feat: Feature Store 導入 — フォーム入力永続化・検索結果保持 (#100)
  spec/agent/architecture/frontend-structure.md
  spec/agent/architecture/state-management.md
  spec/agent/complete/local_088/STATE_PERSISTENCE.md
  spec/agent/notes/dev-journal.md
  spec/agent/wip/local_089/SEED_INPUT_PENDING_REFACTOR.md
  src/features/datetime-search/components/datetime-search-page.tsx
  src/features/datetime-search/hooks/use-datetime-search.ts
  src/features/datetime-search/store.ts
  src/features/egg-list/components/egg-list-page.tsx
  src/features/egg-list/hooks/use-egg-list.ts
  src/features/egg-list/store.ts
  src/features/egg-search/components/egg-search-page.tsx
  src/features/egg-search/hooks/use-egg-search.ts
  src/features/egg-search/store.ts
  src/features/mtseed-search/components/mtseed-search-page.tsx
  src/features/mtseed-search/hooks/use-mtseed-search.ts
  src/features/mtseed-search/store.ts
  src/features/needle/components/needle-page.tsx
  src/features/needle/hooks/use-needle-search.ts
  src/features/needle/store.ts
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/features/pokemon-list/hooks/use-pokemon-list.ts
  src/features/pokemon-list/store.ts
  src/features/tid-adjust/components/tid-adjust-page.tsx
  src/features/tid-adjust/hooks/use-tid-adjust.ts
  src/features/tid-adjust/store.ts
  src/test/helpers/store.ts
  src/test/unit/features/datetime-search-store.test.ts
  src/test/unit/features/egg-list-store.test.ts
  src/test/unit/features/egg-search-store.test.ts
  src/test/unit/features/mtseed-search-store.test.ts
  src/test/unit/features/needle-store.test.ts
  src/test/unit/features/pokemon-list-store.test.ts
  src/test/unit/features/tid-adjust-store.test.ts
  src/test/unit/features/use-mtseed-search.test.ts
  src/test/unit/features/use-needle-search.test.ts
Due: prettier --write

spec: add sidebar profile management specification (local_090)
  spec/agent/wip/local_090/SIDEBAR_PROFILE.md
Due: none

spec: self-review fixes for sidebar profile spec (local_090)
  spec/agent/wip/local_090/SIDEBAR_PROFILE.md
Due: none

feat: Sidebar プロファイル管理機能を実装
  spec/agent/architecture/frontend-structure.md
  spec/agent/architecture/state-management.md
  spec/agent/complete/local_090/SIDEBAR_PROFILE.md
  src/app.tsx
  src/features/ds-config/components/profile-confirm-dialog.tsx
  src/features/ds-config/components/profile-import-export.tsx
  src/features/ds-config/components/profile-name-dialog.tsx
  src/features/ds-config/components/profile-selector.tsx
  src/features/ds-config/index.ts
  src/hooks/use-profile.ts
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/lib/validation.ts
  src/stores/settings/index.ts
  src/stores/settings/profile.ts
  src/stores/sync.ts
  src/test/components/profile-selector.test.tsx
  src/test/unit/profile-store.test.ts
  src/test/unit/profile-validation.test.ts
Due: prettier --write

fix: address Serious review findings (S-1, S-2, S-3)
  src/stores/sync.ts
  src/test/unit/profile-validation.test.ts
  src/test/unit/stores/sync.test.ts
Due: prettier --write

fix: address Medium review findings (M-1, M-2, M-3)
  src/features/ds-config/components/profile-delete-dialog.tsx
  src/features/ds-config/components/profile-import-export.tsx
  src/features/ds-config/components/profile-selector.tsx
  src/hooks/use-profile.ts
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
Due: prettier --write

refactor(profile): useReducer でダイアログ状態を統合し i18n パターンを改善
  src/features/ds-config/components/profile-name-dialog.tsx
  src/features/ds-config/components/profile-selector.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/ja/messages.po
Due: prettier --write

docs(spec): セルフレビュー修正に合わせて仕様書を更新
  spec/agent/complete/local_090/SIDEBAR_PROFILE.md
Due: none

Use compact icon toolbar for profile controls
  src/features/ds-config/components/profile-import-export.tsx
  src/features/ds-config/components/profile-selector.tsx
Due: prettier --write

refactor(profile): ProfileSelector の UI レイアウトを整理
  src/features/ds-config/components/profile-selector.tsx
Due: prettier --write

fix(profile): Import/Export のアイコンを修正 (Download↓=Import, Upload↑=Export)
  src/features/ds-config/components/profile-import-export.tsx
Due: prettier --write

feat: Sidebar プロファイル管理機能を実装 (#101)
  spec/agent/architecture/frontend-structure.md
  spec/agent/architecture/state-management.md
  spec/agent/complete/local_090/SIDEBAR_PROFILE.md
  src/app.tsx
  src/features/ds-config/components/profile-confirm-dialog.tsx
  src/features/ds-config/components/profile-delete-dialog.tsx
  src/features/ds-config/components/profile-import-export.tsx
  src/features/ds-config/components/profile-name-dialog.tsx
  src/features/ds-config/components/profile-selector.tsx
  src/features/ds-config/index.ts
  src/hooks/use-profile.ts
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/lib/validation.ts
  src/stores/settings/index.ts
  src/stores/settings/profile.ts
  src/stores/sync.ts
  src/test/components/profile-selector.test.tsx
  src/test/unit/profile-store.test.ts
  src/test/unit/profile-validation.test.ts
  src/test/unit/stores/sync.test.ts
Due: prettier --write

spec(local_091): キー入力UIコンパクト化(ダイアログ方式)仕様書
  spec/agent/wip/local_091/KEY_INPUT_COMPACT_DIALOG.md
Due: none

spec(local_092): SeedInputSection タブ別 Origins 独立管理 仕様書
  spec/agent/wip/local_092/SEED_INPUT_INDEPENDENT_ORIGINS.md
Due: none

docs(local_089): local_092前提でリライト — lint抑制完全解消
  spec/agent/wip/local_089/SEED_INPUT_PENDING_REFACTOR.md
Due: none

feat: KeyInput/KeySpec UI をコンパクトなダイアログ方式に変更
  spec/agent/complete/local_091/KEY_INPUT_COMPACT_DIALOG.md
  src/components/forms/key-input-selector.tsx
  src/components/forms/key-spec-selector.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/ja/messages.po
  src/lib/format.ts
  src/test/components/forms/key-spec-input.test.tsx
  src/test/components/forms/key-spec-selector.test.tsx
  src/test/unit/lib/format.test.ts
Due: prettier --write

refactor: KeyInput/KeySpec セレクター UI のコード品質改善
  src/components/forms/ds-button-toggle-group.tsx
  src/components/forms/key-input-selector.tsx
  src/components/forms/key-spec-selector.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/ja/messages.po
  src/lib/format.ts
  src/test/components/forms/key-input-selector.test.tsx
  src/test/components/forms/key-spec-input.test.tsx
  src/test/unit/lib/format.test.ts
Due: prettier --write

feat: SeedInputSection タブ別 origins 独立管理
  src/components/forms/seed-input-section.tsx
  src/test/components/seed-input-section.test.tsx
Due: prettier --write

docs: local_092 仕様書チェックリスト更新・complete に移動
  spec/agent/complete/local_092/SEED_INPUT_INDEPENDENT_ORIGINS.md
Due: none

refactor(seed-input): lazy initializer で pending 消費、exhaustive-deps 抑制を完全解消
  src/components/forms/seed-input-section.tsx
  src/stores/search/results.ts
  src/test/unit/stores/results.test.ts
Due: prettier --write

docs: local_089 仕様書チェックリスト更新 + wip → complete 移動
  spec/agent/complete/local_089/SEED_INPUT_PENDING_REFACTOR.md
Due: none

refactor(seed-input): eliminate duplicate resolveSeedOrigins calls and stabilize callbacks
  src/components/forms/seed-input-section.tsx
Due: prettier --write

feat: UX/UI improvements — SeedInput タブ別 origins 独立管理 & KeyInput ダイアログ化 (#102)
  spec/agent/complete/local_089/SEED_INPUT_PENDING_REFACTOR.md
  spec/agent/complete/local_091/KEY_INPUT_COMPACT_DIALOG.md
  spec/agent/complete/local_092/SEED_INPUT_INDEPENDENT_ORIGINS.md
  spec/agent/wip/local_089/SEED_INPUT_PENDING_REFACTOR.md
  src/components/forms/ds-button-toggle-group.tsx
  src/components/forms/key-input-selector.tsx
  src/components/forms/key-spec-selector.tsx
  src/components/forms/seed-input-section.tsx
  src/i18n/locales/en/messages.po
  src/i18n/locales/ja/messages.po
  src/lib/format.ts
  src/stores/search/results.ts
  src/test/components/forms/key-input-selector.test.tsx
  src/test/components/forms/key-spec-input.test.tsx
  src/test/components/seed-input-section.test.tsx
  src/test/unit/lib/format.test.ts
  src/test/unit/stores/results.test.ts
Due: prettier --write

ci: pin Rust nightly and align Node 24 in CI
  .github/workflows/ci.yml
  rust-toolchain.toml
  wasm-pkg/rust-toolchain.toml
Due: none

ci: pin Rust nightly and align Node 24 in CI (#103)
  .github/workflows/ci.yml
  rust-toolchain.toml
  wasm-pkg/rust-toolchain.toml
Due: none

feat(wasm): upgrade wgpu to 28 and unpin wasm/rust versions
  .github/workflows/ci.yml
  rust-toolchain.toml
  src/wasm/wasm_pkg_bg.wasm.d.ts
  wasm-pkg/Cargo.toml
  wasm-pkg/rust-toolchain.toml
  wasm-pkg/src/gpu/context.rs
  wasm-pkg/src/gpu/datetime_search/pipeline.rs
  wasm-pkg/src/gpu/mtseed_search/pipeline.rs
Due: prettier --write, cargo fmt --

feat(wasm): upgrade wgpu to 28 and unpin wasm/rust versions (#104)
  .github/workflows/ci.yml
  rust-toolchain.toml
  src/wasm/wasm_pkg_bg.wasm.d.ts
  wasm-pkg/Cargo.toml
  wasm-pkg/rust-toolchain.toml
  wasm-pkg/src/gpu/context.rs
  wasm-pkg/src/gpu/datetime_search/pipeline.rs
  wasm-pkg/src/gpu/mtseed_search/pipeline.rs
Due: prettier --write, cargo fmt --

fix: add native Vulkan backend for wgpu v28 and serialize GPU full search tests
  wasm-pkg/Cargo.toml
  wasm-pkg/src/gpu/mtseed_search/iterator.rs
Due: cargo fmt --

feat: add detect_gpu_profile WASM export & browser mode integration test
  spec/agent/wip/local_093/GPU_PROFILE_DETECTION_REDESIGN.md
  src/test/integration/gpu-profile.test.ts
  src/wasm/wasm_pkg.d.ts
  src/wasm/wasm_pkg_bg.wasm.d.ts
  wasm-pkg/src/lib.rs
Due: prettier --write, cargo fmt --

refactor(gpu): vendor+architecture テーブル判定に profile.rs を全面書き換え
  wasm-pkg/src/gpu/profile.rs
Due: cargo fmt --

refactor(gpu): cacheGpuAdapterInfo を vendor+architecture+description に変更
  src/workers/gpu.worker.ts
Due: prettier --write

test(gpu): gpu-profile.test.ts を新インターフェースに更新
  src/test/integration/gpu-profile.test.ts
Due: prettier --write

fix(gpu): limits.rs テスト内の GpuProfile 構築を新フィールドに更新
  wasm-pkg/src/gpu/limits.rs
Due: cargo fmt --

build(wasm): profile.rs 未使用変数警告修正 & WASM リビルド
  src/wasm/wasm_pkg.d.ts
  wasm-pkg/src/gpu/profile.rs
Due: prettier --write, cargo fmt --

docs: local_093 仕様書のチェックリストを更新
  spec/agent/wip/local_093/GPU_PROFILE_DETECTION_REDESIGN.md
Due: none

docs: local_093 仕様書を complete に移動
  spec/agent/complete/local_093/GPU_PROFILE_DETECTION_REDESIGN.md
Due: none

fix(gpu): wgpu v28 ネイティブバックエンド対応 & GPU プロファイル判定リファクタ (#105)
  spec/agent/complete/local_093/GPU_PROFILE_DETECTION_REDESIGN.md
  src/test/integration/gpu-profile.test.ts
  src/wasm/wasm_pkg.d.ts
  src/wasm/wasm_pkg_bg.wasm.d.ts
  src/workers/gpu.worker.ts
  wasm-pkg/Cargo.toml
  wasm-pkg/src/gpu/limits.rs
  wasm-pkg/src/gpu/mtseed_search/iterator.rs
  wasm-pkg/src/gpu/profile.rs
  wasm-pkg/src/lib.rs
Due: prettier --write, cargo fmt --

fix: pin js-sys to =0.3.85 to avoid 0.3.87 compile breakage
  wasm-pkg/Cargo.toml
Due: none
