Repository niart120/5genSearch-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cargo fmt --

feat(local_070): encounter data lazy loading
  spec/agent/wip/local_069/HUSKY_PRECOMMIT.md
  src/data/encounters/helpers.ts
  src/data/encounters/loader.ts
  src/features/pokemon-list/components/pokemon-params-form.tsx
  src/test/integration/encounter-service.test.ts
  src/test/unit/encounter-helpers.test.ts
  src/wasm/wasm_pkg.d.ts
  src/wasm/wasm_pkg_bg.wasm.d.ts
Due: prettier --write

docs: update spec checklists and dev-journal for local_069/070 completion
  spec/agent/notes/dev-journal.md
  spec/agent/wip/local_069/HUSKY_PRECOMMIT.md
  spec/agent/wip/local_070/ENCOUNTER_LAZY_LOADING.md
Due: none

chore: move completed specs to completed/, clean dev-journal, hoist regex
  spec/agent/completed/local_068/IME_SUPPRESSION.md
  spec/agent/completed/local_069/HUSKY_PRECOMMIT.md
  spec/agent/completed/local_070/ENCOUNTER_LAZY_LOADING.md
  spec/agent/notes/dev-journal.md
  src/data/encounters/loader.ts
Due: prettier --write

refactor: helpers.ts キャッシュ層除去 + species 取得を effect に一本化
  spec/agent/completed/local_070/ENCOUNTER_LAZY_LOADING.md
  src/data/encounters/helpers.ts
  src/features/pokemon-list/components/pokemon-params-form.tsx
  src/test/unit/encounter-helpers.test.ts
Due: prettier --write

refactor: onChange を functional update に移行し valueRef を除去
  spec/agent/completed/local_070/ENCOUNTER_LAZY_LOADING.md
  src/features/pokemon-list/components/pokemon-params-form.tsx
Due: prettier --write

refactor: EggParamsForm も functional update に移行、ParentIvsInput の ref 除去
  src/components/forms/egg-params-form.tsx
  src/test/components/features/egg-params-form.test.tsx
Due: prettier --write

feat: local_068-070 minor improvements (#83)
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  spec/agent/completed/local_068/IME_SUPPRESSION.md
  spec/agent/completed/local_069/HUSKY_PRECOMMIT.md
  spec/agent/completed/local_070/ENCOUNTER_LAZY_LOADING.md
  spec/agent/notes/dev-journal.md
  src/components/forms/egg-params-form.tsx
  src/data/encounters/helpers.ts
  src/data/encounters/loader.ts
  src/features/pokemon-list/components/pokemon-params-form.tsx
  src/test/components/features/egg-params-form.test.tsx
  src/test/integration/encounter-service.test.ts
  src/test/unit/encounter-helpers.test.ts
  src/wasm/wasm_pkg.d.ts
  src/wasm/wasm_pkg_bg.wasm.d.ts
Due: prettier --write

spec: dev-journal 3件を仕様書に起こし、エントリを削除
  spec/agent/notes/dev-journal.md
  spec/agent/wip/local_071/ABOUT_PAGE.md
  spec/agent/wip/local_072/TID_SID_LOGIC_REFACTOR.md
  spec/agent/wip/local_073/WASM_BUNDLER_MIGRATION.md
Due: none

設計ノート指示に移行時の削除ルールを追加
  .github/instructions/design-notes.instructions.md
Due: none

Refine About page and WASM docs
  spec/agent/wip/local_071/ABOUT_PAGE.md
  spec/agent/wip/local_073/WASM_BUNDLER_MIGRATION.md
Due: none

feat: About ページを新設 (local_071)
  src/components/layout/bottom-nav.tsx
  src/components/layout/feature-content.tsx
  src/components/layout/navigation-labels.tsx
  src/features/about/components/about-page.tsx
  src/features/about/index.ts
  src/i18n/locales/en/messages.po
  src/i18n/locales/en/messages.ts
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/lib/navigation.ts
Due: prettier --write

chore: local_071 を completed に移動
  spec/agent/completed/local_071/ABOUT_PAGE.md
Due: none

refactor: TID-SID 生成ロジックをデータ駆動に統一 (local_072)
  wasm-pkg/src/core/offset.rs
Due: cargo fmt --

refactor(offset): BW/BW2 フロー分離に再構成
  spec/agent/wip/local_072/TID_SID_LOGIC_REFACTOR.md
  wasm-pkg/src/core/offset.rs
Due: cargo fmt --

docs: local_072 を completed に移動
  spec/agent/completed/local_072/TID_SID_LOGIC_REFACTOR.md
Due: none

feat(wasm): bundler target migration with vite-plugin-wasm
  package.json
  pnpm-lock.yaml
  scripts/copy-wasm.js
  spec/agent/wip/local_073/WASM_BUNDLER_MIGRATION.md
  src/components/forms/seed-input-section.tsx
  src/components/forms/species-combobox.tsx
  src/features/datetime-search/hooks/use-datetime-search.ts
  src/features/egg-search/hooks/use-egg-search.ts
  src/features/pokemon-list/components/pokemon-filter-form.tsx
  src/features/pokemon-list/components/pokemon-params-form.tsx
  src/services/search-tasks.ts
  src/services/seed-resolve.ts
  src/services/wasm-init.ts
  src/test/components/features/egg-params-form.test.tsx
  src/test/components/layout/bottom-nav.test.tsx
  src/test/components/layout/feature-content.test.tsx
  src/test/components/layout/header.test.tsx
  src/test/integration/egg-datetime-search.test.ts
  src/test/integration/egg-list-worker.test.ts
  src/test/integration/mtseed-datetime-search.test.ts
  src/test/integration/pokemon-list-worker.test.ts
  src/test/integration/services/search-tasks.test.ts
  src/test/integration/species-name.test.ts
  src/test/integration/wasm-binding.test.ts
  src/test/integration/workers/gpu.worker.test.ts
  src/test/unit/navigation.test.ts
  src/wasm/wasm_pkg.d.ts
  src/workers/gpu.worker.ts
  src/workers/search.worker.ts
  vite.config.ts
  vitest.config.ts
Due: prettier --write

chore: move local_073 spec to completed
  spec/agent/completed/local_073/WASM_BUNDLER_MIGRATION.md
Due: none

docs(local_073): add build output sizes to spec
  spec/agent/completed/local_073/WASM_BUNDLER_MIGRATION.md
Due: none

chore: gitignore Vitest browser mode __screenshots__
  .gitignore
  src/test/integration/services/__screenshots__/worker-pool-gpu.test.ts/WorkerPool-GPU-fallback-should-execute-search-with-CPU-Workers-when-fallback-occurs-1.png
  src/test/integration/services/__screenshots__/worker-pool-gpu.test.ts/WorkerPool-GPU-fallback-should-use-CPU-Workers-when-navigator-gpu-is-unavailable-1.png
  src/test/integration/services/__screenshots__/worker-pool-gpu.test.ts/WorkerPool-with-GPU-should-aggregate-progress-from-GPU-Worker-1.png
  src/test/integration/services/__screenshots__/worker-pool-gpu.test.ts/WorkerPool-with-GPU-should-execute-search-with-GPU-Worker-1.png
  src/test/integration/services/__screenshots__/worker-pool.test.ts/WorkerPool-should-aggregate-progress-from-multiple-workers-1.png
  src/test/integration/services/__screenshots__/worker-pool.test.ts/WorkerPool-should-cancel-ongoing-search-1.png
  src/test/integration/services/__screenshots__/worker-pool.test.ts/WorkerPool-should-dispose-workers-correctly-1.png
  src/test/integration/services/__screenshots__/worker-pool.test.ts/WorkerPool-should-execute-search-tasks-and-collect-results-1.png
  src/test/integration/services/__screenshots__/worker-pool.test.ts/WorkerPool-should-handle-errors-gracefully-1.png
  src/test/integration/services/__screenshots__/worker-pool.test.ts/WorkerPool-should-initialize-all-workers-1.png
  src/test/integration/services/__screenshots__/worker-pool.test.ts/WorkerPool-should-use-navigator-hardwareConcurrency-by-default-1.png
  src/test/integration/workers/__screenshots__/gpu.worker.test.ts/GPU-Worker-should-execute-mtseed-datetime-search-and-return-results-1.png
  src/test/integration/workers/__screenshots__/gpu.worker.test.ts/GPU-Worker-should-handle-cancel-request-1.png
  src/test/integration/workers/__screenshots__/gpu.worker.test.ts/GPU-Worker-should-report-progress-during-search-1.png
  src/test/integration/workers/__screenshots__/gpu.worker.test.ts/GPU-Worker-should-return-error-for-unsupported-task-kind-1.png
  src/test/integration/workers/__screenshots__/init.test.ts/Worker-Initialization-should-handle-multiple-worker-initializations-1.png
  src/test/integration/workers/__screenshots__/init.test.ts/Worker-Initialization-should-initialize-CPU-worker-with-WASM-1.png
  src/test/integration/workers/__screenshots__/init.test.ts/Worker-Initialization-should-initialize-multiple-workers-in-parallel-1.png
  src/test/integration/workers/__screenshots__/searcher.test.ts/EggDatetimeSearcher-should-find-egg-result-at-specific-datetime-1.png
  src/test/integration/workers/__screenshots__/searcher.test.ts/MtseedDatetimeSearcher-should-find-known-MT-Seed-with-correct-datetime-1.png
  src/test/integration/workers/__screenshots__/searcher.test.ts/MtseedSearcher-should-find-6V-seeds-1.png
  src/test/integration/workers/__screenshots__/searcher.test.ts/MtseedSearcher-should-match-all-with-any-filter-in-batch-1.png
  src/test/integration/workers/__screenshots__/searcher.test.ts/TrainerInfoSearcher-should-process-with-NewGame-mode-1.png
Due: none

Workers health check, i18n compact, test imports
  src/i18n/locales/ja/messages.po
  src/i18n/locales/ja/messages.ts
  src/test/components/features/egg-params-form.test.tsx
  src/workers/gpu.worker.ts
  src/workers/search.worker.ts
  wasm-pkg/src/core/offset.rs
Due: prettier --write, cargo fmt --

spec: add STATS_FILTER_INTEGRATION spec (local_074)
  spec/agent/notes/dev-journal.md
  spec/agent/wip/local_074/STATS_FILTER_INTEGRATION.md
Due: none

Update design-notes.instructions.md
  .github/instructions/design-notes.instructions.md
Due: none

Update STATS_FILTER_INTEGRATION.md
  spec/agent/wip/local_074/STATS_FILTER_INTEGRATION.md
Due: none

feat: integrate StatsFilter into Rust WASM layer
  wasm-pkg/src/data/stats.rs
  wasm-pkg/src/generation/flows/types.rs
  wasm-pkg/src/lib.rs
  wasm-pkg/src/resolve/egg.rs
  wasm-pkg/src/resolve/pokemon.rs
  wasm-pkg/src/types/filter.rs
  wasm-pkg/src/types/generation.rs
  wasm-pkg/src/types/mod.rs
  wasm-pkg/tests/resolve_integration.rs
Due: cargo fmt --

build: regenerate WASM with Stats/StatsFilter types
  src/wasm/wasm_pkg.d.ts
Due: prettier --write

refactor: replace TS StatsFixedValues/filterByStats with WASM StatsFilter
  src/components/forms/egg-filter-form.tsx
  src/components/forms/index.ts
  src/components/forms/stats-fixed-input.tsx
  src/features/egg-list/components/egg-list-page.tsx
  src/features/egg-list/types.ts
  src/features/pokemon-list/components/pokemon-filter-form.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/lib/stats-filter.ts
  src/test/components/features/egg-filter-form.test.tsx
  src/test/integration/egg-datetime-search.test.ts
  src/test/integration/egg-list-worker.test.ts
Due: prettier --write

docs: complete local_074 spec, move to completed, clean dev-journal
  spec/agent/completed/local_074/STATS_FILTER_INTEGRATION.md
  spec/agent/notes/dev-journal.md
Due: none

refactor: fix naming/comment remnants from StatsFilter migration
  src/components/forms/egg-filter-form.tsx
  src/features/pokemon-list/components/pokemon-filter-form.tsx
Due: prettier --write

refactor: StatsFilter を WASM 側に統合 (#85)
  .github/instructions/design-notes.instructions.md
  spec/agent/completed/local_074/STATS_FILTER_INTEGRATION.md
  spec/agent/notes/dev-journal.md
  src/components/forms/egg-filter-form.tsx
  src/components/forms/index.ts
  src/components/forms/stats-fixed-input.tsx
  src/features/egg-list/components/egg-list-page.tsx
  src/features/egg-list/types.ts
  src/features/pokemon-list/components/pokemon-filter-form.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
  src/lib/stats-filter.ts
  src/test/components/features/egg-filter-form.test.tsx
  src/test/integration/egg-datetime-search.test.ts
  src/test/integration/egg-list-worker.test.ts
  src/wasm/wasm_pkg.d.ts
  wasm-pkg/src/data/stats.rs
  wasm-pkg/src/generation/flows/types.rs
  wasm-pkg/src/lib.rs
  wasm-pkg/src/resolve/egg.rs
  wasm-pkg/src/resolve/pokemon.rs
  wasm-pkg/src/types/filter.rs
  wasm-pkg/src/types/generation.rs
  wasm-pkg/src/types/mod.rs
  wasm-pkg/tests/resolve_integration.rs
Due: prettier --write, cargo fmt --

fix: resolve lint errors from StatsFilter migration
  src/components/forms/egg-filter-form.tsx
  src/features/egg-list/components/egg-list-page.tsx
  src/features/pokemon-list/components/pokemon-list-page.tsx
Due: prettier --write

docs: add local_075 GIT_HOOKS_CONSOLIDATION spec
  spec/agent/wip/local_075/GIT_HOOKS_CONSOLIDATION.md
Due: none

feat: consolidate git hooks with Husky (local_075)
  .husky/pre-push
  .lintstagedrc.json
  .lintstagedrc.mjs
  spec/agent/wip/local_075/GIT_HOOKS_CONSOLIDATION.md
Due: prettier --write

docs: add pre-push hook error handling to pr-merge-cleanup prompt
  .github/prompts/pr-merge-cleanup.prompt.md
Due: none

feat: consolidate git hooks with Husky (local_075) (#86)
  .github/prompts/pr-merge-cleanup.prompt.md
  .husky/pre-push
  .lintstagedrc.json
  .lintstagedrc.mjs
  spec/agent/wip/local_075/GIT_HOOKS_CONSOLIDATION.md
Due: prettier --write

Update pr-merge-cleanup.prompt.md
  .github/prompts/pr-merge-cleanup.prompt.md
Due: none

docs: add search throughput optimization spec (local_076)
  spec/agent/notes/dev-journal.md
  spec/agent/wip/local_076/SEARCH_THROUGHPUT_OPTIMIZATION.md
Due: none

Move GIT_HOOKS_CONSOLIDATION spec to complete
  spec/agent/complete/local_075/GIT_HOOKS_CONSOLIDATION.md
Due: none

perf(worker): C1 検証 - yield を時間ベース (50ms 間隔) に変更
  src/workers/search.worker.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,css,html}
  cargo fmt --: any of: *.rs
